openapi: 3.0.3
info:
  title: Apollo.io
  version: 1.0.0
  description: Sales intelligence, lead enrichment, prospecting, and engagement data.
servers:
- url: https://api.apollo.io/api/v1
security:
- apolloApiKey: []
paths:
  "/people/match":
    post:
      tags:
      - People Enrichment
      summary: Enrich a single person
      description: Enriches a person's profile with additional data based on provided identifiers (email, name, company, etc.)
      operationId: PeopleEnrichment_enrichPerson
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                first_name:
                  type: string
                  description: First name of the person
                  example: John
                last_name:
                  type: string
                  description: Last name of the person
                  example: Doe
                email:
                  type: string
                  format: email
                  description: Email address of the person
                  example: john.doe@example.com
                organization_name:
                  type: string
                  description: Company name where the person works
                  example: Acme Corp
                domain:
                  type: string
                  description: Company domain
                  example: acme.com
                linkedin_url:
                  type: string
                  format: uri
                  description: LinkedIn profile URL
                  example: https://www.linkedin.com/in/johndoe
                reveal_personal_emails:
                  type: boolean
                  description: Whether to reveal personal email addresses
                  default: false
                reveal_phone_number:
                  type: boolean
                  description: Whether to reveal phone numbers
                  default: false
      responses:
        '200':
          description: Successfully enriched person data
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PersonEnrichmentResponse"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '429':
          "$ref": "#/components/responses/RateLimitExceeded"
  "/people/bulk_match":
    post:
      tags:
      - People Enrichment
      summary: Bulk enrich people
      description: Enriches multiple people's profiles in a single request (up to 10 records)
      operationId: PeopleEnrichment_bulkEnrichPeople
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                details:
                  type: array
                  maxItems: 10
                  items:
                    type: object
                    properties:
                      first_name:
                        type: string
                      last_name:
                        type: string
                      email:
                        type: string
                        format: email
                      organization_name:
                        type: string
                      domain:
                        type: string
                      linkedin_url:
                        type: string
                        format: uri
                reveal_personal_emails:
                  type: boolean
                  default: false
                reveal_phone_number:
                  type: boolean
                  default: false
      responses:
        '200':
          description: Successfully enriched people data
          content:
            application/json:
              schema:
                type: object
                properties:
                  matches:
                    type: array
                    items:
                      "$ref": "#/components/schemas/Person"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '429':
          "$ref": "#/components/responses/RateLimitExceeded"
  "/organizations/enrich":
    post:
      tags:
      - Organization Enrichment
      summary: Enrich a single organization
      description: Enriches an organization's profile with additional data based on domain or company name
      operationId: OrganizationEnrichment_enrichOrganization
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                domain:
                  type: string
                  description: Company domain
                  example: acme.com
                organization_name:
                  type: string
                  description: Company name
                  example: Acme Corp
      responses:
        '200':
          description: Successfully enriched organization data
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/OrganizationEnrichmentResponse"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '429':
          "$ref": "#/components/responses/RateLimitExceeded"
  "/organizations/bulk_enrich":
    post:
      tags:
      - Organization Enrichment
      summary: Bulk enrich organizations
      description: Enriches multiple organizations in a single request (up to 10 records)
      operationId: OrganizationEnrichment_bulkEnrichOrganizations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                details:
                  type: array
                  maxItems: 10
                  items:
                    type: object
                    properties:
                      domain:
                        type: string
                      organization_name:
                        type: string
      responses:
        '200':
          description: Successfully enriched organizations data
          content:
            application/json:
              schema:
                type: object
                properties:
                  organizations:
                    type: array
                    items:
                      "$ref": "#/components/schemas/Organization"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '429':
          "$ref": "#/components/responses/RateLimitExceeded"
  "/organizations/{id}":
    get:
      tags:
      - Organization Data
      summary: Get complete organization info
      description: Retrieve comprehensive information about a specific organization
      operationId: OrganizationData_getOrganization
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: The Apollo organization ID
      responses:
        '200':
          description: Organization data retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  organization:
                    "$ref": "#/components/schemas/Organization"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '404':
          "$ref": "#/components/responses/NotFound"
        '429':
          "$ref": "#/components/responses/RateLimitExceeded"
  "/mixed_companies/search":
    post:
      tags:
      - Organization Search
      summary: Search for organizations
      description: Search Apollo's database of organizations with advanced filtering options
      operationId: OrganizationSearch_searchOrganizations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                q_organization_keyword_tags:
                  type: array
                  items:
                    type: string
                  description: Keywords to search organizations
                organization_locations:
                  type: array
                  items:
                    type: string
                  description: Company locations
                organization_num_employees_ranges:
                  type: array
                  items:
                    type: string
                    enum:
                    - 1-10
                    - 11-50
                    - 51-200
                    - 201-500
                    - 501-1000
                    - 1001-5000
                    - 5001-10000
                    - 10001+
                organization_industry_tag_ids:
                  type: array
                  items:
                    type: string
                  description: Industry tags
                organization_ids:
                  type: array
                  items:
                    type: string
                  description: Specific organization IDs
                page:
                  type: integer
                  minimum: 1
                  default: 1
                per_page:
                  type: integer
                  minimum: 1
                  maximum: 100
                  default: 25
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/OrganizationSearchResponse"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '429':
          "$ref": "#/components/responses/RateLimitExceeded"
  "/news_articles/search":
    post:
      tags:
      - News & Intelligence
      summary: Search for news articles
      description: Search for news articles related to organizations
      operationId: NewsIntelligence_searchNewsArticles
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                organization_ids:
                  type: array
                  items:
                    type: string
                  description: Organization IDs to search news for
                page:
                  type: integer
                  minimum: 1
                  default: 1
                per_page:
                  type: integer
                  minimum: 1
                  maximum: 100
                  default: 25
      responses:
        '200':
          description: News articles retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  articles:
                    type: array
                    items:
                      "$ref": "#/components/schemas/NewsArticle"
                  pagination:
                    "$ref": "#/components/schemas/Pagination"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '429':
          "$ref": "#/components/responses/RateLimitExceeded"
  "/contacts":
    post:
      tags:
      - Contacts (CRM)
      summary: Create a contact
      description: Create a new contact in Apollo CRM
      operationId: ContactsCRM_createContact
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/ContactInput"
      responses:
        '200':
          description: Contact created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  contact:
                    "$ref": "#/components/schemas/Contact"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '429':
          "$ref": "#/components/responses/RateLimitExceeded"
    get:
      tags:
      - Contacts (CRM)
      summary: Search for contacts
      description: Search and filter contacts in your Apollo CRM
      operationId: ContactsCRM_searchContacts
      parameters:
      - name: q_keywords
        in: query
        schema:
          type: string
        description: Keywords to search for
      - name: contact_stage_ids
        in: query
        schema:
          type: array
          items:
            type: string
        description: Filter by contact stage IDs
        style: form
        explode: true
      - name: page
        in: query
        schema:
          type: integer
          minimum: 1
          default: 1
      - name: per_page
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 25
      responses:
        '200':
          description: Contacts retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  contacts:
                    type: array
                    items:
                      "$ref": "#/components/schemas/Contact"
                  pagination:
                    "$ref": "#/components/schemas/Pagination"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '429':
          "$ref": "#/components/responses/RateLimitExceeded"
  "/contacts/{id}":
    get:
      tags:
      - Contacts (CRM)
      summary: View a contact
      description: Retrieve details of a specific contact
      operationId: ContactsCRM_getContact
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Contact ID
      responses:
        '200':
          description: Contact retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  contact:
                    "$ref": "#/components/schemas/Contact"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '404':
          "$ref": "#/components/responses/NotFound"
        '429':
          "$ref": "#/components/responses/RateLimitExceeded"
    put:
      tags:
      - Contacts (CRM)
      summary: Update a contact
      description: Update an existing contact in Apollo CRM
      operationId: ContactsCRM_updateContact
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Contact ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/ContactInput"
      responses:
        '200':
          description: Contact updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  contact:
                    "$ref": "#/components/schemas/Contact"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '404':
          "$ref": "#/components/responses/NotFound"
        '429':
          "$ref": "#/components/responses/RateLimitExceeded"
  "/contacts/bulk_create":
    post:
      tags:
      - Contacts (CRM)
      summary: Bulk create contacts
      description: Create multiple contacts in a single request
      operationId: ContactsCRM_bulkCreateContacts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                contacts:
                  type: array
                  items:
                    "$ref": "#/components/schemas/ContactInput"
      responses:
        '200':
          description: Contacts created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  contacts:
                    type: array
                    items:
                      "$ref": "#/components/schemas/Contact"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '429':
          "$ref": "#/components/responses/RateLimitExceeded"
  "/contacts/bulk_update":
    post:
      tags:
      - Contacts (CRM)
      summary: Bulk update contacts
      description: Update multiple contacts in a single request
      operationId: ContactsCRM_bulkUpdateContacts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                contacts:
                  type: array
                  items:
                    allOf:
                    - type: object
                      properties:
                        id:
                          type: string
                          description: Contact ID
                      required:
                      - id
                    - "$ref": "#/components/schemas/ContactInput"
      responses:
        '200':
          description: Contacts updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  contacts:
                    type: array
                    items:
                      "$ref": "#/components/schemas/Contact"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '429':
          "$ref": "#/components/responses/RateLimitExceeded"
  "/contacts/{id}/stage":
    put:
      tags:
      - Contacts (CRM)
      summary: Update contact stage
      description: Update the stage of a specific contact
      operationId: ContactsCRM_updateContactStage
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Contact ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                contact_stage_id:
                  type: string
                  description: New stage ID for the contact
              required:
              - contact_stage_id
      responses:
        '200':
          description: Contact stage updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  contact:
                    "$ref": "#/components/schemas/Contact"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '404':
          "$ref": "#/components/responses/NotFound"
        '429':
          "$ref": "#/components/responses/RateLimitExceeded"
  "/contacts/{id}/owner":
    put:
      tags:
      - Contacts (CRM)
      summary: Update contact ownership
      description: Update the owner of a specific contact
      operationId: ContactsCRM_updateContactOwner
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Contact ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                owner_id:
                  type: string
                  description: New owner user ID
              required:
              - owner_id
      responses:
        '200':
          description: Contact owner updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  contact:
                    "$ref": "#/components/schemas/Contact"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '404':
          "$ref": "#/components/responses/NotFound"
        '429':
          "$ref": "#/components/responses/RateLimitExceeded"
  "/contact_stages":
    get:
      tags:
      - Contacts (CRM)
      summary: List contact stages
      description: Retrieve all available contact stages
      operationId: ContactsCRM_listContactStages
      responses:
        '200':
          description: Contact stages retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  contact_stages:
                    type: array
                    items:
                      "$ref": "#/components/schemas/ContactStage"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '429':
          "$ref": "#/components/responses/RateLimitExceeded"
  "/opportunities":
    post:
      tags:
      - Deals (Opportunities)
      summary: Create a deal
      description: Create a new deal/opportunity in Apollo CRM
      operationId: DealsOpportunities_createDeal
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/DealInput"
      responses:
        '200':
          description: Deal created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  opportunity:
                    "$ref": "#/components/schemas/Deal"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '429':
          "$ref": "#/components/responses/RateLimitExceeded"
    get:
      tags:
      - Deals (Opportunities)
      summary: List all deals
      description: Retrieve a list of all deals/opportunities
      operationId: DealsOpportunities_listDeals
      parameters:
      - name: page
        in: query
        schema:
          type: integer
          minimum: 1
          default: 1
      - name: per_page
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 25
      responses:
        '200':
          description: Deals retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  opportunities:
                    type: array
                    items:
                      "$ref": "#/components/schemas/Deal"
                  pagination:
                    "$ref": "#/components/schemas/Pagination"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '429':
          "$ref": "#/components/responses/RateLimitExceeded"
  "/opportunities/{id}":
    get:
      tags:
      - Deals (Opportunities)
      summary: View a deal
      description: Retrieve details of a specific deal
      operationId: DealsOpportunities_getDeal
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Deal ID
      responses:
        '200':
          description: Deal retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  opportunity:
                    "$ref": "#/components/schemas/Deal"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '404':
          "$ref": "#/components/responses/NotFound"
        '429':
          "$ref": "#/components/responses/RateLimitExceeded"
    put:
      tags:
      - Deals (Opportunities)
      summary: Update a deal
      description: Update an existing deal/opportunity
      operationId: DealsOpportunities_updateDeal
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Deal ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/DealInput"
      responses:
        '200':
          description: Deal updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  opportunity:
                    "$ref": "#/components/schemas/Deal"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '404':
          "$ref": "#/components/responses/NotFound"
        '429':
          "$ref": "#/components/responses/RateLimitExceeded"
  "/opportunity_stages":
    get:
      tags:
      - Deals (Opportunities)
      summary: List deal stages
      description: Retrieve all available deal/opportunity stages
      operationId: DealsOpportunities_listDealStages
      responses:
        '200':
          description: Deal stages retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  opportunity_stages:
                    type: array
                    items:
                      "$ref": "#/components/schemas/DealStage"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '429':
          "$ref": "#/components/responses/RateLimitExceeded"
  "/emailer_campaigns/search":
    post:
      tags:
      - Sequences & Engagement
      summary: Search for sequences
      description: Search for email sequences (campaigns) in Apollo
      operationId: SequencesEngagement_searchSequences
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: integer
                  minimum: 1
                  default: 1
                per_page:
                  type: integer
                  minimum: 1
                  maximum: 100
                  default: 25
      responses:
        '200':
          description: Sequences retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  emailer_campaigns:
                    type: array
                    items:
                      "$ref": "#/components/schemas/Sequence"
                  pagination:
                    "$ref": "#/components/schemas/Pagination"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '429':
          "$ref": "#/components/responses/RateLimitExceeded"
  "/emailer_campaigns/{id}/add_contact_ids":
    post:
      tags:
      - Sequences & Engagement
      summary: Add contacts to sequence
      description: Add one or more contacts to an email sequence
      operationId: SequencesEngagement_addContactsToSequence
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Sequence/campaign ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                contact_ids:
                  type: array
                  items:
                    type: string
                  description: Array of contact IDs to add
                sequence_active_in_other_campaigns:
                  type: boolean
                  description: Whether to add contacts already in other sequences
                  default: false
                mailbox_id:
                  type: string
                  description: Specific mailbox to use for sending
              required:
              - contact_ids
      responses:
        '200':
          description: Contacts added to sequence successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  contacts:
                    type: array
                    items:
                      type: object
                      properties:
                        contact_id:
                          type: string
                        emailer_campaign_id:
                          type: string
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '404':
          "$ref": "#/components/responses/NotFound"
        '429':
          "$ref": "#/components/responses/RateLimitExceeded"
  "/emailer_campaigns/{emailer_campaign_id}/emailer_touches/{emailer_touch_id}":
    put:
      tags:
      - Sequences & Engagement
      summary: Update contact status in sequence
      description: Update the status of a contact within a sequence (pause, resume, finish)
      operationId: SequencesEngagement_updateContactSequenceStatus
      parameters:
      - name: emailer_campaign_id
        in: path
        required: true
        schema:
          type: string
        description: Sequence/campaign ID
      - name: emailer_touch_id
        in: path
        required: true
        schema:
          type: string
        description: Touch/contact ID within the sequence
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum:
                  - paused
                  - active
                  - finished
                  description: New status for the contact in the sequence
              required:
              - status
      responses:
        '200':
          description: Contact status updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  emailer_touch:
                    type: object
                    properties:
                      id:
                        type: string
                      status:
                        type: string
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '404':
          "$ref": "#/components/responses/NotFound"
        '429':
          "$ref": "#/components/responses/RateLimitExceeded"
  "/emailer_messages/search":
    post:
      tags:
      - Sequences & Engagement
      summary: Search for outreach emails
      description: Search for sent outreach emails from sequences
      operationId: SequencesEngagement_searchOutreachEmails
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                contact_id:
                  type: string
                  description: Filter by contact ID
                emailer_campaign_ids:
                  type: array
                  items:
                    type: string
                  description: Filter by sequence IDs
                page:
                  type: integer
                  minimum: 1
                  default: 1
                per_page:
                  type: integer
                  minimum: 1
                  maximum: 100
                  default: 25
      responses:
        '200':
          description: Emails retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  emailer_messages:
                    type: array
                    items:
                      "$ref": "#/components/schemas/EmailMessage"
                  pagination:
                    "$ref": "#/components/schemas/Pagination"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '429':
          "$ref": "#/components/responses/RateLimitExceeded"
  "/email_accounts/{id}/email_account_stats":
    get:
      tags:
      - Sequences & Engagement
      summary: Check email stats
      description: Get statistics for a specific email account (deliverability, sends, opens, etc.)
      operationId: SequencesEngagement_getEmailStats
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Email account ID
      responses:
        '200':
          description: Email stats retrieved successfully
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/EmailStats"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '404':
          "$ref": "#/components/responses/NotFound"
        '429':
          "$ref": "#/components/responses/RateLimitExceeded"
  "/tasks":
    post:
      tags:
      - Tasks & Activities
      summary: Create a task
      description: Create a new task in Apollo
      operationId: TasksActivities_createTask
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/TaskInput"
      responses:
        '200':
          description: Task created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  task:
                    "$ref": "#/components/schemas/Task"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '429':
          "$ref": "#/components/responses/RateLimitExceeded"
  "/tasks/search":
    post:
      tags:
      - Tasks & Activities
      summary: Search tasks
      description: Search for tasks with filtering options
      operationId: TasksActivities_searchTasks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                contact_ids:
                  type: array
                  items:
                    type: string
                  description: Filter by contact IDs
                user_ids:
                  type: array
                  items:
                    type: string
                  description: Filter by assigned user IDs
                status:
                  type: string
                  enum:
                  - completed
                  - incomplete
                  description: Filter by task status
                page:
                  type: integer
                  minimum: 1
                  default: 1
                per_page:
                  type: integer
                  minimum: 1
                  maximum: 100
                  default: 25
      responses:
        '200':
          description: Tasks retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  tasks:
                    type: array
                    items:
                      "$ref": "#/components/schemas/Task"
                  pagination:
                    "$ref": "#/components/schemas/Pagination"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '429':
          "$ref": "#/components/responses/RateLimitExceeded"
  "/calls":
    post:
      tags:
      - Tasks & Activities
      summary: Create call records
      description: Log call activity records in Apollo
      operationId: TasksActivities_createCallRecords
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CallInput"
      responses:
        '200':
          description: Call record created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  call:
                    "$ref": "#/components/schemas/Call"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '429':
          "$ref": "#/components/responses/RateLimitExceeded"
    put:
      tags:
      - Tasks & Activities
      summary: Update call records
      description: Update existing call activity records
      operationId: TasksActivities_updateCallRecords
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
              - type: object
                properties:
                  id:
                    type: string
                    description: Call record ID
                required:
                - id
              - "$ref": "#/components/schemas/CallInput"
      responses:
        '200':
          description: Call record updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  call:
                    "$ref": "#/components/schemas/Call"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '404':
          "$ref": "#/components/responses/NotFound"
        '429':
          "$ref": "#/components/responses/RateLimitExceeded"
  "/calls/search":
    post:
      tags:
      - Tasks & Activities
      summary: Search for calls
      description: Search for call records with filtering options
      operationId: TasksActivities_searchCalls
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                contact_ids:
                  type: array
                  items:
                    type: string
                  description: Filter by contact IDs
                user_ids:
                  type: array
                  items:
                    type: string
                  description: Filter by user IDs
                page:
                  type: integer
                  minimum: 1
                  default: 1
                per_page:
                  type: integer
                  minimum: 1
                  maximum: 100
                  default: 25
      responses:
        '200':
          description: Call records retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  calls:
                    type: array
                    items:
                      "$ref": "#/components/schemas/Call"
                  pagination:
                    "$ref": "#/components/schemas/Pagination"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '429':
          "$ref": "#/components/responses/RateLimitExceeded"
  "/auth/health":
    get:
      tags:
      - Account & Settings
      summary: View API usage stats
      description: Check your API usage statistics and remaining credits
      operationId: AccountSettings_getApiUsageStats
      responses:
        '200':
          description: API usage stats retrieved successfully
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ApiUsageStats"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '429':
          "$ref": "#/components/responses/RateLimitExceeded"
  "/users":
    get:
      tags:
      - Account & Settings
      summary: Get a list of users
      description: Retrieve all users in your Apollo account
      operationId: AccountSettings_listUsers
      responses:
        '200':
          description: Users retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  users:
                    type: array
                    items:
                      "$ref": "#/components/schemas/User"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '429':
          "$ref": "#/components/responses/RateLimitExceeded"
  "/email_accounts":
    get:
      tags:
      - Account & Settings
      summary: Get a list of email accounts
      description: Retrieve all connected email accounts
      operationId: AccountSettings_listEmailAccounts
      responses:
        '200':
          description: Email accounts retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  email_accounts:
                    type: array
                    items:
                      "$ref": "#/components/schemas/EmailAccount"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '429':
          "$ref": "#/components/responses/RateLimitExceeded"
  "/typed_custom_fields":
    get:
      tags:
      - Account & Settings
      summary: Get a list of all custom fields
      description: Retrieve all custom fields defined in your Apollo account
      operationId: AccountSettings_listCustomFields
      responses:
        '200':
          description: Custom fields retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  typed_custom_fields:
                    type: array
                    items:
                      "$ref": "#/components/schemas/CustomField"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '429':
          "$ref": "#/components/responses/RateLimitExceeded"
    post:
      tags:
      - Account & Settings
      summary: Create a custom field
      description: Create a new custom field in Apollo
      operationId: AccountSettings_createCustomField
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Name of the custom field
                field_type:
                  type: string
                  enum:
                  - string
                  - number
                  - date
                  - boolean
                  - select
                  - multi_select
                  description: Type of the custom field
                applies_to:
                  type: string
                  enum:
                  - contact
                  - account
                  - opportunity
                  description: Entity type this field applies to
                options:
                  type: array
                  items:
                    type: string
                  description: Options for select/multi_select types
              required:
              - name
              - field_type
              - applies_to
      responses:
        '200':
          description: Custom field created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  typed_custom_field:
                    "$ref": "#/components/schemas/CustomField"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '429':
          "$ref": "#/components/responses/RateLimitExceeded"
  "/contact_lists":
    get:
      tags:
      - Account & Settings
      summary: Get a list of all lists
      description: Retrieve all contact lists in your Apollo account
      operationId: AccountSettings_listContactLists
      responses:
        '200':
          description: Contact lists retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  contact_lists:
                    type: array
                    items:
                      "$ref": "#/components/schemas/ContactList"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '429':
          "$ref": "#/components/responses/RateLimitExceeded"
  "/mixed_people/api_search":
    post:
      tags:
      - People Search
      summary: Search for people
      description: Search Apollo's database of people with advanced filtering options
      operationId: PeopleSearch_searchPeople
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                q_keywords:
                  type: string
                  description: Keywords to search for
                  example: software engineer
                person_titles:
                  type: array
                  items:
                    type: string
                  description: Job titles to filter by
                  example:
                  - CEO
                  - CTO
                person_seniorities:
                  type: array
                  items:
                    type: string
                    enum:
                    - owner
                    - founder
                    - c_suite
                    - partner
                    - vp
                    - head
                    - director
                    - manager
                    - senior
                    - entry
                    - intern
                  description: Seniority levels
                person_locations:
                  type: array
                  items:
                    type: string
                  description: Geographic locations
                  example:
                  - California, USA
                organization_ids:
                  type: array
                  items:
                    type: string
                  description: Specific organization IDs
                organization_num_employees_ranges:
                  type: array
                  items:
                    type: string
                    enum:
                    - 1-10
                    - 11-50
                    - 51-200
                    - 201-500
                    - 501-1000
                    - 1001-5000
                    - 5001-10000
                    - 10001+
                  description: Company size ranges
                organization_locations:
                  type: array
                  items:
                    type: string
                  description: Company locations
                organization_industry_tag_ids:
                  type: array
                  items:
                    type: string
                  description: Industry tags
                page:
                  type: integer
                  minimum: 1
                  default: 1
                  description: Page number for pagination
                per_page:
                  type: integer
                  minimum: 1
                  maximum: 100
                  default: 25
                  description: Number of results per page
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PeopleSearchResponse"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '429':
          "$ref": "#/components/responses/RateLimitExceeded"
  "/organizations/{organization_id}/job_postings":
    get:
      tags:
      - Organization Data
      summary: Get organization job postings
      description: Retrieve current job postings for a specific organization
      operationId: OrganizationData_getOrganizationJobPostings
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
        description: The Apollo organization ID.
      responses:
        '200':
          description: Job postings retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  job_postings:
                    type: array
                    items:
                      "$ref": "#/components/schemas/JobPosting"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '429':
          "$ref": "#/components/responses/RateLimitExceeded"
components:
  schemas:
    ApiUsageStats:
      type: object
      properties:
        daily_api_credit_used:
          type: integer
        daily_api_credits_available:
          type: integer
        daily_email_credits_used:
          type: integer
        daily_email_credits_available:
          type: integer
        daily_export_credits_used:
          type: integer
        daily_export_credits_available:
          type: integer
        daily_mobile_credits_used:
          type: integer
        daily_mobile_credits_available:
          type: integer
    Call:
      type: object
      properties:
        id:
          type: string
        note:
          type: string
        disposition:
          type: string
        duration:
          type: integer
          description: Call duration in seconds
        recorded_at:
          type: string
          format: date-time
        user_id:
          type: string
        contact_id:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    CallInput:
      type: object
      required:
      - contact_id
      properties:
        contact_id:
          type: string
        note:
          type: string
        disposition:
          type: string
          description: Call outcome (e.g., "Connected", "Left voicemail", "No answer")
        duration:
          type: integer
          description: Call duration in seconds
        recorded_at:
          type: string
          format: date-time
        user_id:
          type: string
    Contact:
      type: object
      properties:
        id:
          type: string
        first_name:
          type: string
        last_name:
          type: string
        name:
          type: string
        title:
          type: string
        email:
          type: string
          format: email
        account_id:
          type: string
        account:
          "$ref": "#/components/schemas/Organization"
        owner_id:
          type: string
        contact_stage_id:
          type: string
        phone_numbers:
          type: array
          items:
            type: object
            properties:
              number:
                type: string
              type:
                type: string
        label_names:
          type: array
          items:
            type: string
        typed_custom_fields:
          type: object
          additionalProperties: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    ContactInput:
      type: object
      properties:
        first_name:
          type: string
        last_name:
          type: string
        email:
          type: string
          format: email
        title:
          type: string
        account_id:
          type: string
          description: Organization/account ID
        owner_id:
          type: string
          description: User ID of the owner
        contact_stage_id:
          type: string
        label_names:
          type: array
          items:
            type: string
        phone_numbers:
          type: array
          items:
            type: object
            properties:
              number:
                type: string
              type:
                type: string
                enum:
                - work
                - mobile
                - home
                - other
        typed_custom_fields:
          type: object
          additionalProperties: true
          description: Custom field values
    ContactList:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        num_contacts:
          type: integer
        created_at:
          type: string
          format: date-time
    ContactStage:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        display_name:
          type: string
    CustomField:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        field_type:
          type: string
          enum:
          - string
          - number
          - date
          - boolean
          - select
          - multi_select
        applies_to:
          type: string
          enum:
          - contact
          - account
          - opportunity
        options:
          type: array
          items:
            type: string
    Deal:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        amount:
          type: number
          description: Deal value
        opportunity_stage_id:
          type: string
        closed_date:
          type: string
          format: date
        owner_id:
          type: string
        account_id:
          type: string
        contact_ids:
          type: array
          items:
            type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    DealInput:
      type: object
      required:
      - name
      - amount
      - opportunity_stage_id
      properties:
        name:
          type: string
        amount:
          type: number
        opportunity_stage_id:
          type: string
        closed_date:
          type: string
          format: date
        owner_id:
          type: string
        account_id:
          type: string
        contact_ids:
          type: array
          items:
            type: string
    DealStage:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        display_name:
          type: string
    EmailAccount:
      type: object
      properties:
        id:
          type: string
        email:
          type: string
          format: email
        active:
          type: boolean
        daily_email_send_limit:
          type: integer
        email_provider:
          type: string
        user_id:
          type: string
    EmailMessage:
      type: object
      properties:
        id:
          type: string
        subject:
          type: string
        body:
          type: string
        status:
          type: string
          enum:
          - sent
          - opened
          - clicked
          - replied
          - bounced
        sent_at:
          type: string
          format: date-time
        opened_at:
          type: string
          format: date-time
        clicked_at:
          type: string
          format: date-time
        replied_at:
          type: string
          format: date-time
        contact_id:
          type: string
        emailer_campaign_id:
          type: string
    EmailStats:
      type: object
      properties:
        total_sent:
          type: integer
        total_delivered:
          type: integer
        total_opened:
          type: integer
        total_clicked:
          type: integer
        total_replied:
          type: integer
        total_bounced:
          type: integer
        open_rate:
          type: number
        click_rate:
          type: number
        reply_rate:
          type: number
        bounce_rate:
          type: number
    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
    JobPosting:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        url:
          type: string
          format: uri
        posted_date:
          type: string
          format: date-time
        location:
          type: string
        department:
          type: string
    NewsArticle:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        url:
          type: string
          format: uri
        published_date:
          type: string
          format: date-time
        source:
          type: string
        snippet:
          type: string
    Organization:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        website_url:
          type: string
          format: uri
        primary_domain:
          type: string
        logo_url:
          type: string
          format: uri
        industry:
          type: string
        keywords:
          type: array
          items:
            type: string
        founded_year:
          type: integer
        linkedin_url:
          type: string
          format: uri
        facebook_url:
          type: string
          format: uri
        twitter_url:
          type: string
          format: uri
        primary_phone:
          type: object
          properties:
            number:
              type: string
            source:
              type: string
        phone:
          type: string
        city:
          type: string
        state:
          type: string
        country:
          type: string
        street_address:
          type: string
        postal_code:
          type: string
        estimated_num_employees:
          type: integer
        annual_revenue:
          type: number
        total_funding:
          type: number
        seo_description:
          type: string
        short_description:
          type: string
        technologies:
          type: array
          items:
            type: string
    OrganizationEnrichmentResponse:
      type: object
      properties:
        organization:
          "$ref": "#/components/schemas/Organization"
    OrganizationSearchResponse:
      type: object
      properties:
        accounts:
          type: array
          items:
            "$ref": "#/components/schemas/Organization"
        breadcrumbs:
          type: array
          items:
            type: object
        pagination:
          "$ref": "#/components/schemas/Pagination"
    Pagination:
      type: object
      properties:
        page:
          type: integer
        per_page:
          type: integer
        total_entries:
          type: integer
        total_pages:
          type: integer
    PeopleSearchResponse:
      type: object
      properties:
        people:
          type: array
          items:
            "$ref": "#/components/schemas/Person"
        breadcrumbs:
          type: array
          items:
            type: object
        partial_results_only:
          type: boolean
        disable_eu_prospecting:
          type: boolean
        partial_results_limit:
          type: integer
        pagination:
          "$ref": "#/components/schemas/Pagination"
    Person:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the person
        first_name:
          type: string
        last_name:
          type: string
        name:
          type: string
        title:
          type: string
          description: Job title
        email:
          type: string
          format: email
        email_status:
          type: string
          enum:
          - verified
          - guessed
          - unavailable
          - bounced
          - pending
        phone_numbers:
          type: array
          items:
            type: object
            properties:
              raw_number:
                type: string
              sanitized_number:
                type: string
              type:
                type: string
                enum:
                - work
                - mobile
                - home
                - other
              position:
                type: integer
        linkedin_url:
          type: string
          format: uri
        organization:
          "$ref": "#/components/schemas/Organization"
        seniority:
          type: string
        departments:
          type: array
          items:
            type: string
        city:
          type: string
        state:
          type: string
        country:
          type: string
        employment_history:
          type: array
          items:
            type: object
            properties:
              organization_name:
                type: string
              title:
                type: string
              start_date:
                type: string
                format: date
              end_date:
                type: string
                format: date
              current:
                type: boolean
    PersonEnrichmentResponse:
      type: object
      properties:
        person:
          "$ref": "#/components/schemas/Person"
    Sequence:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        active:
          type: boolean
        num_steps:
          type: integer
        permissions:
          type: string
        created_at:
          type: string
          format: date-time
    Task:
      type: object
      properties:
        id:
          type: string
        note:
          type: string
        completed:
          type: boolean
        status:
          type: string
          enum:
          - completed
          - incomplete
        priority:
          type: string
          enum:
          - high
          - medium
          - low
          - none
        due_at:
          type: string
          format: date-time
        user_id:
          type: string
        contact_id:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    TaskInput:
      type: object
      required:
      - note
      properties:
        note:
          type: string
        priority:
          type: string
          enum:
          - high
          - medium
          - low
          - none
        due_at:
          type: string
          format: date-time
        user_id:
          type: string
        contact_id:
          type: string
    User:
      type: object
      properties:
        id:
          type: string
        first_name:
          type: string
        last_name:
          type: string
        email:
          type: string
          format: email
        role:
          type: string
  responses:
    BadRequest:
      description: Bad request - invalid parameters
      content:
        application/json:
          schema:
            "$ref": "#/components/schemas/Error"
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            "$ref": "#/components/schemas/Error"
    RateLimitExceeded:
      description: Rate limit exceeded
      content:
        application/json:
          schema:
            "$ref": "#/components/schemas/Error"
    Unauthorized:
      description: Unauthorized - invalid or missing API key
      content:
        application/json:
          schema:
            "$ref": "#/components/schemas/Error"
  securitySchemes:
    apolloApiKey:
      type: apiKey
      in: header
      name: X-Api-Key
tags:
- name: People Enrichment
  description: Enrich people data with additional information
- name: Organization Enrichment
  description: Enrich organization data with additional information
- name: People Search
  description: Search Apollo's database of people
- name: Organization Search
  description: Search Apollo's database of organizations
- name: Organization Data
  description: Get detailed organization information
- name: News & Intelligence
  description: Search for news articles and intelligence
- name: Contacts (CRM)
  description: Manage contacts in Apollo CRM
- name: Deals (Opportunities)
  description: Manage deals and opportunities
- name: Sequences & Engagement
  description: Manage email sequences and engagement tracking
- name: Tasks & Activities
  description: Manage tasks and log activities
- name: Account & Settings
  description: Account information and settings
