openapi: 3.0.1
info:
  title: Pipedrive
  version: 1.0.0
  description: Sales CRM and pipeline management.
  license:
    name: MIT
    url: "https://opensource.org/licenses/MIT"
servers:
  - url: "https://api.pipedrive.com/v1"
security:
  - pipedriveApiToken: []
tags:
  - name: Activities
    description: Activities operations.
  - name: ActivityFields
    description: ActivityFields operations.
  - name: ActivityTypes
    description: ActivityTypes operations.
  - name: Billing
    description: Billing operations.
  - name: CallLogs
    description: CallLogs operations.
  - name: Currencies
    description: Currencies operations.
  - name: DealFields
    description: DealFields operations.
  - name: Deals
    description: Deals operations.
  - name: Files
    description: Files operations.
  - name: Filters
    description: Filters operations.
  - name: Goals
    description: Goals operations.
  - name: ItemSearch
    description: ItemSearch operations.
  - name: LeadLabels
    description: LeadLabels operations.
  - name: LeadSources
    description: LeadSources operations.
  - name: Leads
    description: Leads operations.
  - name: Mailbox
    description: Mailbox operations.
  - name: Meetings
    description: Meetings operations.
  - name: NoteFields
    description: NoteFields operations.
  - name: Notes
    description: Notes operations.
  - name: OrganizationFields
    description: OrganizationFields operations.
  - name: OrganizationRelationships
    description: OrganizationRelationships operations.
  - name: Organizations
    description: Organizations operations.
  - name: PermissionSets
    description: PermissionSets operations.
  - name: PersonFields
    description: PersonFields operations.
  - name: Persons
    description: Persons operations.
  - name: Pipelines
    description: Pipelines operations.
  - name: ProductFields
    description: ProductFields operations.
  - name: Products
    description: Products operations.
  - name: ProjectTemplates
    description: ProjectTemplates operations.
  - name: Projects
    description: Projects operations.
  - name: Recents
    description: Recents operations.
  - name: Roles
    description: Roles operations.
  - name: Stages
    description: Stages operations.
  - name: Subscriptions
    description: Subscriptions operations.
  - name: Tasks
    description: Tasks operations.
  - name: UserConnections
    description: UserConnections operations.
  - name: UserSettings
    description: UserSettings operations.
  - name: Users
    description: Users operations.
  - name: Webhooks
    description: Webhooks operations.
paths:
  /activities:
    delete:
      tags:
        - Activities
      summary: Delete multiple activities in bulk
      operationId: Activities_deleteBulk
      description: "Marks multiple activities as deleted. After 30 days, the activities will be permanently deleted."
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
    get:
      tags:
        - Activities
      summary: Get all activities assigned to a particular user
      operationId: Activities_listUserActivities
      description: Returns all activities assigned to a particular user.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
    post:
      tags:
        - Activities
      summary: Add an activity
      operationId: Activities_addNewActivity
      description: "Adds a new activity. Includes more_activities_scheduled_in_context property in response’s additional_data which indicates whether there are more undone activities scheduled with the same deal, person or organization (depending on the supplied data). For more information, see the tutorial for adding an activity."
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenericObject"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
  /activities/collection:
    get:
      tags:
        - Activities
      summary: Get all activities (BETA)
      operationId: Activities_getAllActivities
      description: "Returns all activities. This is a cursor-paginated endpoint that is currently in BETA. For more information, please refer to our documentation on pagination. Please note that only global admins (those with global permissions) can access these endpoints. Users with regular permissions will receive a 403 response. Read more about global permissions here."
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
  "/activities/{id}":
    delete:
      tags:
        - Activities
      summary: Delete an activity
      operationId: Activities_markAsDeleted
      description: "Marks an activity as deleted. After 30 days, the activity will be permanently deleted."
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
    get:
      tags:
        - Activities
      summary: Get details of an activity
      operationId: Activities_getDetails
      description: Returns the details of a specific activity.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
    put:
      tags:
        - Activities
      summary: Update an activity
      operationId: Activities_updateActivityDetails
      description: "Updates an activity. Includes more_activities_scheduled_in_context property in response’s additional_data which indicates whether there are more undone activities scheduled with the same deal, person or organization (depending on the supplied data)."
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenericObject"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
  /activityFields:
    get:
      tags:
        - ActivityFields
      summary: Get all activity fields
      operationId: ActivityFields_getAll
      description: Returns all activity fields.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
  /activityTypes:
    delete:
      tags:
        - ActivityTypes
      summary: Delete multiple activity types in bulk
      operationId: ActivityTypes_markAsDeletedBulk
      description: Marks multiple activity types as deleted.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
    get:
      tags:
        - ActivityTypes
      summary: Get all activity types
      operationId: ActivityTypes_listAllActivityTypes
      description: Returns all activity types.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
    post:
      tags:
        - ActivityTypes
      summary: Add new activity type
      operationId: ActivityTypes_addNewType
      description: Adds a new activity type.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenericObject"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
  "/activityTypes/{id}":
    delete:
      tags:
        - ActivityTypes
      summary: Delete an activity type
      operationId: ActivityTypes_markAsDeleted
      description: Marks an activity type as deleted.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
    put:
      tags:
        - ActivityTypes
      summary: Update an activity type
      operationId: ActivityTypes_updateType
      description: Updates an activity type.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenericObject"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
  /billing/subscriptions/addons:
    get:
      tags:
        - Billing
      summary: "Get all add-ons for a single company"
      operationId: Billing_getAddonsForSingleCompany
      description: "Returns the add-ons for a single company."
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
  /callLogs:
    get:
      tags:
        - CallLogs
      summary: Get all call logs assigned to a particular user
      operationId: CallLogs_getAllLogs
      description: Returns all call logs assigned to a particular user.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
    post:
      tags:
        - CallLogs
      summary: Add a call log
      operationId: CallLogs_addNewLog
      description: Adds a new call log.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenericObject"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
  "/callLogs/{id}":
    delete:
      tags:
        - CallLogs
      summary: Delete a call log
      operationId: CallLogs_deleteLog
      description: "Deletes a call log. If there is an audio recording attached to it, it will also be deleted. The related activity will not be removed by this request. If you want to remove the related activities, please use the endpoint which is specific for activities."
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
    get:
      tags:
        - CallLogs
      summary: Get details of a call log
      operationId: CallLogs_getDetails
      description: Returns details of a specific call log.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
  "/callLogs/{id}/recordings":
    post:
      tags:
        - CallLogs
      summary: Attach an audio file to the call log
      operationId: CallLogs_attachRecording
      description: Adds an audio recording to the call log. That audio can be played by those who have access to the call log object.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenericObject"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
  /currencies:
    get:
      tags:
        - Currencies
      summary: Get all supported currencies
      operationId: Currencies_getAllSupported
      description: "Returns all supported currencies in given account which should be used when saving monetary values with other objects. The code parameter of the returning objects is the currency code according to ISO 4217 for all non-custom currencies."
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
  /dealFields:
    delete:
      tags:
        - DealFields
      summary: Delete multiple deal fields in bulk
      operationId: DealFields_deleteMultipleBulk
      description: Marks multiple deal fields as deleted.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
    get:
      tags:
        - DealFields
      summary: Get all deal fields
      operationId: DealFields_getAllFields
      description: Returns data about all deal fields.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
    post:
      tags:
        - DealFields
      summary: Add a new deal field
      operationId: DealFields_addNewField
      description: "Adds a new deal field. For more information, see the tutorial for adding a new custom field."
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenericObject"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
  "/dealFields/{id}":
    delete:
      tags:
        - DealFields
      summary: Delete a deal field
      operationId: DealFields_markAsDeleted
      description: "Marks a field as deleted. For more information, see the tutorial for deleting a custom field."
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
    get:
      tags:
        - DealFields
      summary: Get one deal field
      operationId: DealFields_getOneField
      description: Returns data about a specific deal field.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
    put:
      tags:
        - DealFields
      summary: Update a deal field
      operationId: DealFields_updateField
      description: "Updates a deal field. For more information, see the tutorial for updating custom fields’ values."
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenericObject"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
  /deals:
    delete:
      tags:
        - Deals
      summary: Delete multiple deals in bulk
      operationId: Deals_deleteBulk
      description: "Marks multiple deals as deleted. After 30 days, the deals will be permanently deleted."
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
    get:
      tags:
        - Deals
      summary: Get all deals
      operationId: Deals_getAllDeals
      description: "Returns all deals. For more information, see the tutorial for getting all deals."
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
    post:
      tags:
        - Deals
      summary: Add a deal
      operationId: Deals_createDeal
      description: "Adds a new deal. Note that you can supply additional custom fields along with the request that are not described here. These custom fields are different for each Pipedrive account and can be recognized by long hashes as keys. To determine which custom fields exists, fetch the dealFields and look for key values. For more information, see the tutorial for adding a deal."
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenericObject"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
  /deals/collection:
    get:
      tags:
        - Deals
      summary: Get all deals (BETA)
      operationId: Deals_getAllDeals_2
      description: "Returns all deals. This is a cursor-paginated endpoint that is currently in BETA. For more information, please refer to our documentation on pagination. Please note that only global admins (those with global permissions) can access these endpoints. Users with regular permissions will receive a 403 response. Read more about global permissions here."
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
  /deals/search:
    get:
      tags:
        - Deals
      summary: Search deals
      operationId: Deals_searchByTitleAndNotes
      description: "Searches all deals by title, notes and/or custom fields. This endpoint is a wrapper of /v1/itemSearch with a narrower OAuth scope. Found deals can be filtered by the person ID and the organization ID."
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
  /deals/summary:
    get:
      tags:
        - Deals
      summary: Get deals summary
      operationId: Deals_getSummary
      description: Returns a summary of all the deals.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
  /deals/timeline:
    get:
      tags:
        - Deals
      summary: Get deals timeline
      operationId: Deals_getTimelineData
      description: "Returns open and won deals, grouped by a defined interval of time set in a date-type dealField (field_key) — e.g. when month is the chosen interval, and 3 months are asked starting from January 1st, 2012, deals are returned grouped into 3 groups — January, February and March — based on the value of the given field_key."
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
  "/deals/{id}":
    delete:
      tags:
        - Deals
      summary: Delete a deal
      operationId: Deals_markAsDeleted
      description: "Marks a deal as deleted. After 30 days, the deal will be permanently deleted."
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
    get:
      tags:
        - Deals
      summary: Get details of a deal
      operationId: Deals_getDetails
      description: "Returns the details of a specific deal. Note that this also returns some additional fields which are not present when asking for all deals – such as deal age and stay in pipeline stages. Also note that custom fields appear as long hashes in the resulting data. These hashes can be mapped against the key value of dealFields. For more information, see the tutorial for getting details of a deal."
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
    put:
      tags:
        - Deals
      summary: Update a deal
      operationId: Deals_updateProperties
      description: "Updates the properties of a deal. For more information, see the tutorial for updating a deal."
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenericObject"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
  "/deals/{id}/activities":
    get:
      tags:
        - Deals
      summary: List activities associated with a deal
      operationId: Deals_listActivities
      description: Lists activities associated with a deal.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
  "/deals/{id}/changelog":
    get:
      tags:
        - Deals
      summary: List updates about deal field values
      operationId: Deals_listChangelog
      description: Lists updates about field values of a deal.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
  "/deals/{id}/duplicate":
    post:
      tags:
        - Deals
      summary: Duplicate deal
      operationId: Deals_duplicateDeal
      description: Duplicates a deal.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenericObject"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
  "/deals/{id}/files":
    get:
      tags:
        - Deals
      summary: List files attached to a deal
      operationId: Deals_listDealFiles
      description: Lists files associated with a deal.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
  "/deals/{id}/flow":
    get:
      tags:
        - Deals
      summary: List updates about a deal
      operationId: Deals_listDealUpdates
      description: Lists updates about a deal.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
  "/deals/{id}/followers":
    get:
      tags:
        - Deals
      summary: List followers of a deal
      operationId: Deals_listFollowers
      description: Lists the followers of a deal.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
    post:
      tags:
        - Deals
      summary: Add a follower to a deal
      operationId: Deals_addFollower
      description: Adds a follower to a deal.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenericObject"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
  "/deals/{id}/followers/{follower_id}":
    delete:
      tags:
        - Deals
      summary: Delete a follower from a deal
      operationId: Deals_removeFollower
      description: Deletes a follower from a deal.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: follower_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
  "/deals/{id}/mailMessages":
    get:
      tags:
        - Deals
      summary: List mail messages associated with a deal
      operationId: Deals_listMailMessages
      description: Lists mail messages associated with a deal.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
  "/deals/{id}/merge":
    put:
      tags:
        - Deals
      summary: Merge two deals
      operationId: Deals_mergeDeals
      description: "Merges a deal with another deal. For more information, see the tutorial for merging two deals."
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenericObject"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
  "/deals/{id}/participants":
    get:
      tags:
        - Deals
      summary: List participants of a deal
      operationId: Deals_listParticipants
      description: "Lists the participants associated with a deal.\nIf a company uses the Campaigns product, then this endpoint will also return the data.marketing_status field."
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
    post:
      tags:
        - Deals
      summary: Add a participant to a deal
      operationId: Deals_addParticipant
      description: Adds a participant to a deal.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenericObject"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
  "/deals/{id}/participants/{deal_participant_id}":
    delete:
      tags:
        - Deals
      summary: Delete a participant from a deal
      operationId: Deals_deleteParticipant
      description: Deletes a participant from a deal.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: deal_participant_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
  "/deals/{id}/participantsChangelog":
    get:
      tags:
        - Deals
      summary: List updates about participants of a deal
      operationId: Deals_listParticipantsChangelog
      description: "List updates about participants of a deal. This is a cursor-paginated endpoint. For more information, please refer to our documentation on pagination."
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
  "/deals/{id}/permittedUsers":
    get:
      tags:
        - Deals
      summary: List permitted users
      operationId: Deals_listPermittedUsers
      description: Lists the users permitted to access a deal.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
  "/deals/{id}/persons":
    get:
      tags:
        - Deals
      summary: List all persons associated with a deal
      operationId: Deals_listPersonsAssociated
      description: "Lists all persons associated with a deal, regardless of whether the person is the primary contact of the deal, or added as a participant.\nIf a company uses the Campaigns product, then this endpoint will also return the data.marketing_status field."
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
  "/deals/{id}/products":
    get:
      tags:
        - Deals
      summary: List products attached to a deal
      operationId: Deals_listDealProducts
      description: Lists products attached to a deal.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
    post:
      tags:
        - Deals
      summary: Add a product to a deal
      operationId: Deals_addProductToDeal
      description: "Adds a product to a deal, creating a new item called a deal-product."
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenericObject"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
  "/deals/{id}/products/{product_attachment_id}":
    delete:
      tags:
        - Deals
      summary: Delete an attached product from a deal
      operationId: Deals_deleteAttachedProduct
      description: "Deletes a product attachment from a deal, using the product_attachment_id."
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: product_attachment_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
    put:
      tags:
        - Deals
      summary: Update the product attached to a deal
      operationId: Deals_updateProductAttachment
      description: Updates the details of the product that has been attached to a deal.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: product_attachment_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenericObject"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
  /files:
    get:
      tags:
        - Files
      summary: Get all files
      operationId: Files_getAllFiles
      description: Returns data about all files.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
    post:
      tags:
        - Files
      summary: Add file
      operationId: Files_uploadAndAssociate
      description: "Lets you upload a file and associate it with a deal, person, organization, activity, product or lead. For more information, see the tutorial for adding a file."
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenericObject"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
  /files/remote:
    post:
      tags:
        - Files
      summary: Create a remote file and link it to an item
      operationId: Files_createRemoteFileAndLink
      description: "Creates a new empty file in the remote location (googledrive) that will be linked to the item you supply. For more information, see the tutorial for adding a remote file."
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenericObject"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
  /files/remoteLink:
    post:
      tags:
        - Files
      summary: Link a remote file to an item
      operationId: Files_linkRemoteFile
      description: "Links an existing remote file (googledrive) to the item you supply. For more information, see the tutorial for adding a remote file."
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenericObject"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
  "/files/{id}":
    delete:
      tags:
        - Files
      summary: Delete a file
      operationId: Files_markAsDeleted
      description: "Marks a file as deleted. After 30 days, the file will be permanently deleted."
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
    get:
      tags:
        - Files
      summary: Get one file
      operationId: Files_getOneFile
      description: Returns data about a specific file.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
    put:
      tags:
        - Files
      summary: Update file details
      operationId: Files_updateDetails
      description: Updates the properties of a file.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenericObject"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
  "/files/{id}/download":
    get:
      tags:
        - Files
      summary: Download one file
      operationId: Files_downloadFile
      description: Initializes a file download.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
  /filters:
    delete:
      tags:
        - Filters
      summary: Delete multiple filters in bulk
      operationId: Filters_deleteBulk
      description: Marks multiple filters as deleted.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
    get:
      tags:
        - Filters
      summary: Get all filters
      operationId: Filters_getAll
      description: Returns data about all filters.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
    post:
      tags:
        - Filters
      summary: Add a new filter
      operationId: Filters_addNewFilter
      description: "Adds a new filter, returns the ID upon success. Note that in the conditions JSON object only one first-level condition group is supported, and it must be glued with ‘AND’, and only two second level condition groups are supported of which one must be glued with ‘AND’ and the second with ‘OR’. Other combinations do not work (yet) but the syntax supports introducing them in future. For more information, see the tutorial for adding a filter."
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenericObject"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
  /filters/helpers:
    get:
      tags:
        - Filters
      summary: Get all filter helpers
      operationId: Filters_getHelpers
      description: "Returns all supported filter helpers. It helps to know what conditions and helpers are available when you want to add or update filters. For more information, see the tutorial for adding a filter."
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
  "/filters/{id}":
    delete:
      tags:
        - Filters
      summary: Delete a filter
      operationId: Filters_markAsDeleted
      description: Marks a filter as deleted.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
    get:
      tags:
        - Filters
      summary: Get one filter
      operationId: Filters_getDetails
      description: Returns data about a specific filter. Note that this also returns the condition lines of the filter.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
    put:
      tags:
        - Filters
      summary: Update filter
      operationId: Filters_updateFilter
      description: Updates an existing filter.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenericObject"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
  /goals:
    post:
      tags:
        - Goals
      summary: Add a new goal
      operationId: Goals_createReport
      description: "Adds a new goal. Along with adding a new goal, a report is created to track the progress of your goal."
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenericObject"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
  /goals/find:
    get:
      tags:
        - Goals
      summary: Find goals
      operationId: Goals_getByCriteria
      description: "Returns data about goals based on criteria. For searching, append {searchField}={searchValue} to the URL, where searchField can be any one of the lowest-level fields in dot-notation (e.g. type.params.pipeline_id; title). searchValue should be the value you are looking for on that field. Additionally, is_active=<true|false> can be provided to search for only active/inactive goals. When providing period.start, period.end must also be provided and vice versa."
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
  "/goals/{id}":
    delete:
      tags:
        - Goals
      summary: Delete existing goal
      operationId: Goals_markAsDeleted
      description: Marks a goal as deleted.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
    put:
      tags:
        - Goals
      summary: Update existing goal
      operationId: Goals_updateExistingGoal
      description: Updates an existing goal.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenericObject"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
  "/goals/{id}/results":
    get:
      tags:
        - Goals
      summary: Get result of a goal
      operationId: Goals_getResult
      description: Gets the progress of a goal for the specified period.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
  /itemSearch:
    get:
      tags:
        - ItemSearch
      summary: Perform a search from multiple item types
      operationId: ItemSearch_searchMultipleItems
      description: Performs a search from your choice of item types and fields.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
  /itemSearch/field:
    get:
      tags:
        - ItemSearch
      summary: Perform a search using a specific field from an item type
      operationId: ItemSearch_byFieldValues
      description: "Performs a search from the values of a specific field. Results can either be the distinct values of the field (useful for searching autocomplete field values), or the IDs of actual items (deals, leads, persons, organizations or products)."
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
  /leadLabels:
    get:
      tags:
        - LeadLabels
      summary: Get all lead labels
      operationId: LeadLabels_getAll
      description: Returns details of all lead labels. This endpoint does not support pagination and all labels are always returned.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
    post:
      tags:
        - LeadLabels
      summary: Add a lead label
      operationId: LeadLabels_addNewLabel
      description: Creates a lead label.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenericObject"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
  "/leadLabels/{id}":
    delete:
      tags:
        - LeadLabels
      summary: Delete a lead label
      operationId: LeadLabels_deleteLabel
      description: Deletes a specific lead label.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
    patch:
      tags:
        - LeadLabels
      summary: Update a lead label
      operationId: LeadLabels_updateProperties
      description: Updates one or more properties of a lead label. Only properties included in the request will be updated.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenericObject"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
  /leadSources:
    get:
      tags:
        - LeadSources
      summary: Get all lead sources
      operationId: LeadSources_getAll
      description: "Returns all lead sources. Please note that the list of lead sources is fixed, it cannot be modified. All leads created through the Pipedrive API will have a lead source API assigned."
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
  /leads:
    get:
      tags:
        - Leads
      summary: Get all leads
      operationId: Leads_getAll
      description: "Returns multiple leads. Leads are sorted by the time they were created, from oldest to newest. Pagination can be controlled using limit and start query parameters. If a lead contains custom fields, the fields’ values will be included in the response in the same format as with the Deals endpoints. If a custom field’s value hasn’t been set for the lead, it won’t appear in the response. Please note that leads do not have a separate set of custom fields, instead they inherit the custom fields’ structure from deals."
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
    post:
      tags:
        - Leads
      summary: Add a lead
      operationId: Leads_createLead
      description: "Creates a lead. A lead always has to be linked to a person or an organization or both. All leads created through the Pipedrive API will have a lead source API assigned. Here’s the tutorial for adding a lead. If a lead contains custom fields, the fields’ values will be included in the response in the same format as with the Deals endpoints. If a custom field’s value hasn’t been set for the lead, it won’t appear in the response. Please note that leads do not have a separate set of custom fields, instead they inherit the custom fields’ structure from deals. See an example given in the updating custom fields’ values tutorial."
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenericObject"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
  /leads/search:
    get:
      tags:
        - Leads
      summary: Search leads
      operationId: Leads_searchLeads
      description: "Searches all leads by title, notes and/or custom fields. This endpoint is a wrapper of /v1/itemSearch with a narrower OAuth scope. Found leads can be filtered by the person ID and the organization ID."
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
  "/leads/{id}":
    delete:
      tags:
        - Leads
      summary: Delete a lead
      operationId: Leads_deleteLead
      description: Deletes a specific lead.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
    get:
      tags:
        - Leads
      summary: Get one lead
      operationId: Leads_getDetails
      description: "Returns details of a specific lead. If a lead contains custom fields, the fields’ values will be included in the response in the same format as with the Deals endpoints. If a custom field’s value hasn’t been set for the lead, it won’t appear in the response. Please note that leads do not have a separate set of custom fields, instead they inherit the custom fields’ structure from deals."
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
    patch:
      tags:
        - Leads
      summary: Update a lead
      operationId: Leads_updateLeadProperties
      description: "Updates one or more properties of a lead. Only properties included in the request will be updated. Send null to unset a property (applicable for example for value, person_id or organization_id). If a lead contains custom fields, the fields’ values will be included in the response in the same format as with the Deals endpoints. If a custom field’s value hasn’t been set for the lead, it won’t appear in the response. Please note that leads do not have a separate set of custom fields, instead they inherit the custom fields’ structure from deals. See an example given in the updating custom fields’ values tutorial."
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenericObject"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
  "/leads/{id}/permittedUsers":
    get:
      tags:
        - Leads
      summary: List permitted users
      operationId: Leads_listPermittedUsers
      description: Lists the users permitted to access a lead.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
  "/mailbox/mailMessages/{id}":
    get:
      tags:
        - Mailbox
      summary: Get one mail message
      operationId: Mailbox_getMailMessage
      description: Returns data about a specific mail message.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
  /mailbox/mailThreads:
    get:
      tags:
        - Mailbox
      summary: Get mail threads
      operationId: Mailbox_getMailThreads
      description: Returns mail threads in a specified folder ordered by the most recent message within.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
  "/mailbox/mailThreads/{id}":
    delete:
      tags:
        - Mailbox
      summary: Delete mail thread
      operationId: Mailbox_markThreadDeleted
      description: Marks a mail thread as deleted.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
    get:
      tags:
        - Mailbox
      summary: Get one mail thread
      operationId: Mailbox_getMailThread
      description: Returns a specific mail thread.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
    put:
      tags:
        - Mailbox
      summary: Update mail thread details
      operationId: Mailbox_updateMailThreadDetails
      description: Updates the properties of a mail thread.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenericObject"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
  "/mailbox/mailThreads/{id}/mailMessages":
    get:
      tags:
        - Mailbox
      summary: Get all mail messages of mail thread
      operationId: Mailbox_getAllMailMessages
      description: Returns all the mail messages inside a specified mail thread.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
  /meetings/userProviderLinks:
    post:
      tags:
        - Meetings
      summary: Link a user with the installed video call integration
      operationId: Meetings_linkUserProvider
      description: A video calling provider must call this endpoint after a user has installed the video calling app so that the new user’s information is sent.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenericObject"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
  "/meetings/userProviderLinks/{id}":
    delete:
      tags:
        - Meetings
      summary: Delete the link between a user and the installed video call integration
      operationId: Meetings_removeUserProviderLink
      description: A video calling provider must call this endpoint to remove the link between a user and the installed video calling app.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
  /noteFields:
    get:
      tags:
        - NoteFields
      summary: Get all note fields
      operationId: NoteFields_getAllNoteFields
      description: Returns data about all note fields.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
  /notes:
    get:
      tags:
        - Notes
      summary: Get all notes
      operationId: Notes_getAll
      description: Returns all notes.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
    post:
      tags:
        - Notes
      summary: Add a note
      operationId: Notes_createNote
      description: Adds a new note.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenericObject"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
  "/notes/{id}":
    delete:
      tags:
        - Notes
      summary: Delete a note
      operationId: Notes_deleteNote
      description: Deletes a specific note.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
    get:
      tags:
        - Notes
      summary: Get one note
      operationId: Notes_getDetails
      description: Returns details about a specific note.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
    put:
      tags:
        - Notes
      summary: Update a note
      operationId: Notes_updateNote
      description: Updates a note.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenericObject"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
  "/notes/{id}/comments":
    get:
      tags:
        - Notes
      summary: Get all comments for a note
      operationId: Notes_getAllComments
      description: Returns all comments associated with a note.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
    post:
      tags:
        - Notes
      summary: Add a comment to a note
      operationId: Notes_addNewComment
      description: Adds a new comment to a note.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenericObject"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
  "/notes/{id}/comments/{commentId}":
    delete:
      tags:
        - Notes
      summary: Delete a comment related to a note
      operationId: Notes_deleteComment
      description: Deletes a comment.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: commentId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
    get:
      tags:
        - Notes
      summary: Get one comment
      operationId: Notes_getCommentDetails
      description: Returns the details of a comment.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: commentId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
    put:
      tags:
        - Notes
      summary: Update a comment related to a note
      operationId: Notes_updateComment
      description: Updates a comment related to a note.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: commentId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenericObject"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
  /organizationFields:
    delete:
      tags:
        - OrganizationFields
      summary: Delete multiple organization fields in bulk
      operationId: OrganizationFields_deleteMultipleBulk
      description: Marks multiple fields as deleted.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
    get:
      tags:
        - OrganizationFields
      summary: Get all organization fields
      operationId: OrganizationFields_getAllFields
      description: Returns data about all organization fields.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
    post:
      tags:
        - OrganizationFields
      summary: Add a new organization field
      operationId: OrganizationFields_addNewField
      description: "Adds a new organization field. For more information, see the tutorial for adding a new custom field."
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenericObject"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
  "/organizationFields/{id}":
    delete:
      tags:
        - OrganizationFields
      summary: Delete an organization field
      operationId: OrganizationFields_markAsDeleted
      description: "Marks a field as deleted. For more information, see the tutorial for deleting a custom field."
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
    get:
      tags:
        - OrganizationFields
      summary: Get one organization field
      operationId: OrganizationFields_getSpecificField
      description: Returns data about a specific organization field.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
    put:
      tags:
        - OrganizationFields
      summary: Update an organization field
      operationId: OrganizationFields_updateField
      description: "Updates an organization field. For more information, see the tutorial for updating custom fields’ values."
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenericObject"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
  /organizationRelationships:
    get:
      tags:
        - OrganizationRelationships
      summary: Get all relationships for organization
      operationId: OrganizationRelationships_getAllRelationships
      description: Gets all of the relationships for a supplied organization ID.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
    post:
      tags:
        - OrganizationRelationships
      summary: Create an organization relationship
      operationId: OrganizationRelationships_createNewRelationship
      description: Creates and returns an organization relationship.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenericObject"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
  "/organizationRelationships/{id}":
    delete:
      tags:
        - OrganizationRelationships
      summary: Delete an organization relationship
      operationId: OrganizationRelationships_deleteById
      description: Deletes an organization relationship and returns the deleted ID.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
    get:
      tags:
        - OrganizationRelationships
      summary: Get one organization relationship
      operationId: OrganizationRelationships_getById
      description: Finds and returns an organization relationship from its ID.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
    put:
      tags:
        - OrganizationRelationships
      summary: Update an organization relationship
      operationId: OrganizationRelationships_updateAndReturn
      description: Updates and returns an organization relationship.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenericObject"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
  /organizations:
    delete:
      tags:
        - Organizations
      summary: Delete multiple organizations in bulk
      operationId: Organizations_deleteMultipleBulk
      description: "Marks multiple organizations as deleted. After 30 days, the organizations will be permanently deleted."
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
    get:
      tags:
        - Organizations
      summary: Get all organizations
      operationId: Organizations_getAll
      description: Returns all organizations.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
    post:
      tags:
        - Organizations
      summary: Add an organization
      operationId: Organizations_addNewOrganization
      description: "Adds a new organization. Note that you can supply additional custom fields along with the request that are not described here. These custom fields are different for each Pipedrive account and can be recognized by long hashes as keys. To determine which custom fields exists, fetch the organizationFields and look for key values. For more information, see the tutorial for adding an organization."
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenericObject"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
  /organizations/collection:
    get:
      tags:
        - Organizations
      summary: Get all organizations (BETA)
      operationId: Organizations_listAllOrganizations
      description: "Returns all organizations. This is a cursor-paginated endpoint that is currently in BETA. For more information, please refer to our documentation on pagination. Please note that only global admins (those with global permissions) can access these endpoints. Users with regular permissions will receive a 403 response. Read more about global permissions here."
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
  /organizations/search:
    get:
      tags:
        - Organizations
      summary: Search organizations
      operationId: Organizations_searchByCriteria
      description: "Searches all organizations by name, address, notes and/or custom fields. This endpoint is a wrapper of /v1/itemSearch with a narrower OAuth scope."
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
  "/organizations/{id}":
    delete:
      tags:
        - Organizations
      summary: Delete an organization
      operationId: Organizations_deleteMarkedOrganization
      description: "Marks an organization as deleted. After 30 days, the organization will be permanently deleted."
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
    get:
      tags:
        - Organizations
      summary: Get details of an organization
      operationId: Organizations_getDetails
      description: Returns the details of an organization. Note that this also returns some additional fields which are not present when asking for all organizations. Also note that custom fields appear as long hashes in the resulting data. These hashes can be mapped against the key value of organizationFields.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
    put:
      tags:
        - Organizations
      summary: Update an organization
      operationId: Organizations_updateProperties
      description: Updates the properties of an organization.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenericObject"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
  "/organizations/{id}/activities":
    get:
      tags:
        - Organizations
      summary: List activities associated with an organization
      operationId: Organizations_listActivities
      description: Lists activities associated with an organization.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
  "/organizations/{id}/changelog":
    get:
      tags:
        - Organizations
      summary: List updates about organization field values
      operationId: Organizations_listFieldUpdates
      description: Lists updates about field values of an organization.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
  "/organizations/{id}/deals":
    get:
      tags:
        - Organizations
      summary: List deals associated with an organization
      operationId: Organizations_listDeals
      description: Lists deals associated with an organization.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
  "/organizations/{id}/files":
    get:
      tags:
        - Organizations
      summary: List files attached to an organization
      operationId: Organizations_listAttachedFiles
      description: Lists files associated with an organization.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
  "/organizations/{id}/flow":
    get:
      tags:
        - Organizations
      summary: List updates about an organization
      operationId: Organizations_listUpdatesAbout
      description: Lists updates about an organization.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
  "/organizations/{id}/followers":
    get:
      tags:
        - Organizations
      summary: List followers of an organization
      operationId: Organizations_listFollowers
      description: Lists the followers of an organization.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
    post:
      tags:
        - Organizations
      summary: Add a follower to an organization
      operationId: Organizations_addFollower
      description: Adds a follower to an organization.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenericObject"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
  "/organizations/{id}/followers/{follower_id}":
    delete:
      tags:
        - Organizations
      summary: Delete a follower from an organization
      operationId: Organizations_deleteFollower
      description: Deletes a follower from an organization. You can retrieve the follower_id from the List followers of an organization endpoint.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: follower_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
  "/organizations/{id}/mailMessages":
    get:
      tags:
        - Organizations
      summary: List mail messages associated with an organization
      operationId: Organizations_listMailMessages
      description: Lists mail messages associated with an organization.
      parameters:
[...]
