openapi: 3.0.4
info:
  title: SharePoint API - Sites
  description: 'This OData service is located at https://graph.microsoft.com/v1.0
    (Category: Sites)'
  version: v1.0
  x-ms-generated-by:
    toolName: Microsoft.OpenApi.OData
    toolVersion: 1.0.9.0
servers:
- url: https://graph.microsoft.com/v1.0
paths:
  /sites:
    get:
      tags:
      - sites.site
      summary: List sites
      description: "List all available sites in an organization. Specific filter criteria\
        \ and query options are also supported and described below: In addition, you\
        \ can use a $search query against the /sites collection to find sites matching\
        \ given keywords.\r\nIf you want to list all sites across all geographies,\
        \ refer to getAllSites. For more guidance about building applications that\
        \ use site discovery for scanning purposes, see Best practices for discovering\
        \ files and detecting changes at scale."
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/site-list?view=graph-rest-1.0
      operationId: sites.site.ListSite
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.siteCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  /sites/{site-id}:
    get:
      tags:
      - sites.site
      summary: Get a site resource
      description: "Retrieve properties and relationships for a site resource.\r\n\
        A site resource represents a team site in SharePoint."
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/site-get?view=graph-rest-1.0
      operationId: sites.site.GetSite
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.site'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - sites.site
      summary: Update entity in sites
      operationId: sites.site.UpdateSite
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.site'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.site'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /sites/{site-id}/analytics:
    get:
      tags:
      - sites.itemAnalytics
      summary: Get analytics from sites
      description: Analytics about the view activities that took place on this site.
      operationId: sites.GetAnalytics
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.itemAnalytics'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - sites.itemAnalytics
      summary: Update the navigation property analytics in sites
      operationId: sites.UpdateAnalytics
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.itemAnalytics'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.itemAnalytics'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - sites.itemAnalytics
      summary: Delete navigation property analytics for sites
      operationId: sites.DeleteAnalytics
      parameters:
      - name: If-Match
        in: header
        description: ETag
        schema:
          type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /sites/{site-id}/analytics/allTime:
    get:
      tags:
      - sites.itemAnalytics
      summary: Get allTime from sites
      operationId: sites.analytics.GetAllTime
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.itemActivityStat'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /sites/{site-id}/analytics/itemActivityStats:
    get:
      tags:
      - sites.itemAnalytics
      summary: Get itemActivityStats from sites
      operationId: sites.analytics.ListItemActivityStats
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.itemActivityStatCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - sites.itemAnalytics
      summary: Create new navigation property to itemActivityStats for sites
      operationId: sites.analytics.CreateItemActivityStats
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.itemActivityStat'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.itemActivityStat'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /sites/{site-id}/analytics/itemActivityStats/{itemActivityStat-id}:
    get:
      tags:
      - sites.itemAnalytics
      summary: Get itemActivityStats from sites
      operationId: sites.analytics.GetItemActivityStats
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.itemActivityStat'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - sites.itemAnalytics
      summary: Update the navigation property itemActivityStats in sites
      operationId: sites.analytics.UpdateItemActivityStats
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.itemActivityStat'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.itemActivityStat'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - sites.itemAnalytics
      summary: Delete navigation property itemActivityStats for sites
      operationId: sites.analytics.DeleteItemActivityStats
      parameters:
      - name: If-Match
        in: header
        description: ETag
        schema:
          type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /sites/{site-id}/analytics/itemActivityStats/{itemActivityStat-id}/activities:
    get:
      tags:
      - sites.itemAnalytics
      summary: Get activities from sites
      description: Exposes the itemActivities represented in this itemActivityStat
        resource.
      operationId: sites.analytics.itemActivityStats.ListActivities
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.itemActivityCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - sites.itemAnalytics
      summary: Create new navigation property to activities for sites
      operationId: sites.analytics.itemActivityStats.CreateActivities
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.itemActivity'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.itemActivity'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /sites/{site-id}/analytics/itemActivityStats/{itemActivityStat-id}/activities/{itemActivity-id}:
    get:
      tags:
      - sites.itemAnalytics
      summary: Get activities from sites
      description: Exposes the itemActivities represented in this itemActivityStat
        resource.
      operationId: sites.analytics.itemActivityStats.GetActivities
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.itemActivity'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - sites.itemAnalytics
      summary: Update the navigation property activities in sites
      operationId: sites.analytics.itemActivityStats.UpdateActivities
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.itemActivity'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.itemActivity'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - sites.itemAnalytics
      summary: Delete navigation property activities for sites
      operationId: sites.analytics.itemActivityStats.DeleteActivities
      parameters:
      - name: If-Match
        in: header
        description: ETag
        schema:
          type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /sites/{site-id}/analytics/itemActivityStats/{itemActivityStat-id}/activities/{itemActivity-id}/driveItem:
    get:
      tags:
      - sites.itemAnalytics
      summary: Get driveItem from sites
      description: Exposes the driveItem that was the target of this activity.
      operationId: sites.analytics.itemActivityStats.activities.GetDriveItem
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.driveItem'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /sites/{site-id}/analytics/itemActivityStats/{itemActivityStat-id}/activities/{itemActivity-id}/driveItem/content:
    get:
      tags:
      - sites.itemAnalytics
      summary: Get content for the navigation property driveItem from sites
      description: The content stream, if the item represents a file.
      operationId: sites.analytics.itemActivityStats.activities.GetDriveItemContent
      parameters:
      - name: $format
        in: query
        description: Format of the content
        schema:
          type: string
      responses:
        2XX:
          description: Retrieved media content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
    put:
      tags:
      - sites.itemAnalytics
      summary: Update content for the navigation property driveItem in sites
      description: The content stream, if the item represents a file.
      operationId: sites.analytics.itemActivityStats.activities.UpdateDriveItemContent
      requestBody:
        description: New media content.
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.driveItem'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /sites/{site-id}/analytics/itemActivityStats/{itemActivityStat-id}/activities/$count:
    get:
      tags:
      - sites.itemAnalytics
      summary: Get the number of the resource
      operationId: sites.analytics.itemActivityStats.activities.GetCount-972d
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /sites/{site-id}/analytics/itemActivityStats/$count:
    get:
      tags:
      - sites.itemAnalytics
      summary: Get the number of the resource
      operationId: sites.analytics.itemActivityStats.GetCount-c4ac
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /sites/{site-id}/analytics/lastSevenDays:
    get:
      tags:
      - sites.itemAnalytics
      summary: Get lastSevenDays from sites
      operationId: sites.analytics.GetLastSevenDays
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.itemActivityStat'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /sites/{site-id}/columns:
    get:
      tags:
      - sites.columnDefinition
      summary: List columns in a site
      description: Get the collection of columns represented as columnDefinition resources
        in a site.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/site-list-columns?view=graph-rest-1.0
      operationId: sites.ListColumns
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.columnDefinitionCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - sites.columnDefinition
      summary: Create a columnDefinition in a site
      description: Create a column for a site with a request that specifies a columnDefinition.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/site-post-columns?view=graph-rest-1.0
      operationId: sites.CreateColumns
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.columnDefinition'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.columnDefinition'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /sites/{site-id}/columns/{columnDefinition-id}:
    get:
      tags:
      - sites.columnDefinition
      summary: Get columns from sites
      description: The collection of column definitions reusable across lists under
        this site.
      operationId: sites.GetColumns
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.columnDefinition'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - sites.columnDefinition
      summary: Update the navigation property columns in sites
      operationId: sites.UpdateColumns
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.columnDefinition'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.columnDefinition'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - sites.columnDefinition
      summary: Delete navigation property columns for sites
      operationId: sites.DeleteColumns
      parameters:
      - name: If-Match
        in: header
        description: ETag
        schema:
          type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /sites/{site-id}/columns/{columnDefinition-id}/sourceColumn:
    get:
      tags:
      - sites.columnDefinition
      summary: Get sourceColumn from sites
      description: The source column for the content type column.
      operationId: sites.columns.GetSourceColumn
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.columnDefinition'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /sites/{site-id}/columns/$count:
    get:
      tags:
      - sites.columnDefinition
      summary: Get the number of the resource
      operationId: sites.columns.GetCount-a8bb
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /sites/{site-id}/contentTypes:
    get:
      tags:
      - sites.contentType
      summary: List contentTypes in a site
      description: Get the collection of contentType resources in a site.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/site-list-contenttypes?view=graph-rest-1.0
      operationId: sites.ListContentTypes
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.contentTypeCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - sites.contentType
      summary: Create a content type
      description: Create a new contentType in a site.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/site-post-contenttypes?view=graph-rest-1.0
      operationId: sites.CreateContentTypes
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.contentType'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.contentType'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /sites/{site-id}/contentTypes/{contentType-id}:
    get:
      tags:
      - sites.contentType
      summary: Get contentType
      description: Retrieve the metadata for a content type in a site or a list.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/contenttype-get?view=graph-rest-1.0
      operationId: sites.GetContentTypes
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.contentType'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - sites.contentType
      summary: Update contentType
      description: Update a content type.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/contenttype-update?view=graph-rest-1.0
      operationId: sites.UpdateContentTypes
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.contentType'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.contentType'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - sites.contentType
      summary: Delete contentType
      description: Remove a content type from a list or a site.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/contenttype-delete?view=graph-rest-1.0
      operationId: sites.DeleteContentTypes
      parameters:
      - name: If-Match
        in: header
        description: ETag
        schema:
          type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /sites/{site-id}/contentTypes/{contentType-id}/base:
    get:
      tags:
      - sites.contentType
      summary: Get base from sites
      description: Parent contentType from which this content type is derived.
      operationId: sites.contentTypes.GetBase
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.contentType'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /sites/{site-id}/contentTypes/{contentType-id}/baseTypes:
    get:
      tags:
      - sites.contentType
      summary: Get baseTypes from sites
      description: The collection of content types that are ancestors of this content
        type.
      operationId: sites.contentTypes.ListBaseTypes
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.contentTypeCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  /sites/{site-id}/contentTypes/{contentType-id}/baseTypes/{contentType-id1}:
    get:
      tags:
      - sites.contentType
      summary: Get baseTypes from sites
      description: The collection of content types that are ancestors of this content
        type.
      operationId: sites.contentTypes.GetBaseTypes
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.contentType'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /sites/{site-id}/contentTypes/{contentType-id}/baseTypes/$count:
    get:
      tags:
      - sites.contentType
      summary: Get the number of the resource
      operationId: sites.contentTypes.baseTypes.GetCount-6b07
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /sites/{site-id}/contentTypes/{contentType-id}/columnLinks:
    get:
      tags:
      - sites.contentType
      summary: Get columnLinks from sites
      description: The collection of columns that are required by this content type.
      operationId: sites.contentTypes.ListColumnLinks
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.columnLinkCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - sites.contentType
      summary: Create new navigation property to columnLinks for sites
      operationId: sites.contentTypes.CreateColumnLinks
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.columnLink'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.columnLink'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /sites/{site-id}/contentTypes/{contentType-id}/columnLinks/{columnLink-id}:
    get:
      tags:
      - sites.contentType
      summary: Get columnLinks from sites
      description: The collection of columns that are required by this content type.
      operationId: sites.contentTypes.GetColumnLinks
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.columnLink'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - sites.contentType
      summary: Update the navigation property columnLinks in sites
      operationId: sites.contentTypes.UpdateColumnLinks
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.columnLink'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.columnLink'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - sites.contentType
      summary: Delete navigation property columnLinks for sites
      operationId: sites.contentTypes.DeleteColumnLinks
      parameters:
      - name: If-Match
        in: header
        description: ETag
        schema:
          type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /sites/{site-id}/contentTypes/{contentType-id}/columnLinks/$count:
    get:
      tags:
      - sites.contentType
      summary: Get the number of the resource
      operationId: sites.contentTypes.columnLinks.GetCount-7bc1
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /sites/{site-id}/contentTypes/{contentType-id}/columnPositions:
    get:
      tags:
      - sites.contentType
      summary: Get columnPositions from sites
      description: Column order information in a content type.
      operationId: sites.contentTypes.ListColumnPositions
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.columnDefinitionCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  /sites/{site-id}/contentTypes/{contentType-id}/columnPositions/{columnDefinition-id}:
    get:
      tags:
      - sites.contentType
      summary: Get columnPositions from sites
      description: Column order information in a content type.
      operationId: sites.contentTypes.GetColumnPositions
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.columnDefinition'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /sites/{site-id}/contentTypes/{contentType-id}/columnPositions/$count:
    get:
      tags:
      - sites.contentType
      summary: Get the number of the resource
      operationId: sites.contentTypes.columnPositions.GetCount-dea9
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /sites/{site-id}/contentTypes/{contentType-id}/columns:
    get:
      tags:
      - sites.contentType
      summary: List columnDefinitions in a content type
      description: Get the collection of columns represented as columnDefinition resources
        in a content type.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/contenttype-list-columns?view=graph-rest-1.0
      operationId: sites.contentTypes.ListColumns
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.columnDefinitionCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - sites.contentType
      summary: Create a columnDefinition in a content type
      description: Add a column to a content type in a site, or a list with a request
        that specifies a columnDefinition.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/contenttype-post-columns?view=graph-rest-1.0
      operationId: sites.contentTypes.CreateColumns
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.columnDefinition'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.columnDefinition'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /sites/{site-id}/contentTypes/{contentType-id}/columns/{columnDefinition-id}:
    get:
      tags:
      - sites.contentType
      summary: Get columnDefinition
      description: Retrieve the metadata for a site, a list, or a contentType column.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/columndefinition-get?view=graph-rest-1.0
      operationId: sites.contentTypes.GetColumns
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.columnDefinition'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - sites.contentType
      summary: Update columnDefinition
      description: Update a site, a list, or a content type column.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/columndefinition-update?view=graph-rest-1.0
      operationId: sites.contentTypes.UpdateColumns
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.columnDefinition'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.columnDefinition'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - sites.contentType
      summary: Delete columnDefinition
      description: Remove a column from a site, a list, or a content type.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/columndefinition-delete?view=graph-rest-1.0
      operationId: sites.contentTypes.DeleteColumns
      parameters:
      - name: If-Match
        in: header
        description: ETag
        schema:
          type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /sites/{site-id}/contentTypes/{contentType-id}/columns/{columnDefinition-id}/sourceColumn:
    get:
      tags:
      - sites.contentType
      summary: Get sourceColumn from sites
      description: The source column for the content type column.
      operationId: sites.contentTypes.columns.GetSourceColumn
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.columnDefinition'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /sites/{site-id}/contentTypes/{contentType-id}/columns/$count:
    get:
      tags:
      - sites.contentType
      summary: Get the number of the resource
      operationId: sites.contentTypes.columns.GetCount-896b
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /sites/{site-id}/contentTypes/{contentType-id}/associateWithHubSites:
    post:
      tags:
      - sites.contentType
      summary: Invoke action associateWithHubSites
      description: Associate a published content type present in a content type hub
        with a list of hub sites.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/contenttype-associatewithhubsites?view=graph-rest-1.0
      operationId: sites.site.contentTypes.contentType.associateWithHubSites
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                hubSiteUrls:
                  type: array
                  items:
                    type: string
                propagateToExistingLists:
                  type: boolean
                  default: false
                  nullable: true
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /sites/{site-id}/contentTypes/{contentType-id}/copyToDefaultContentLocation:
    post:
      tags:
      - sites.contentType
      summary: Invoke action copyToDefaultContentLocation
      description: Copy a file to a default content location in a content type. The
        file can then be added as a default file or template via a POST operation.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/contenttype-copytodefaultcontentlocation?view=graph-rest-1.0
      operationId: sites.site.contentTypes.contentType.copyToDefaultContentLocation
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                sourceFile:
                  $ref: '#/components/schemas/microsoft.graph.itemReference'
                destinationFileName:
                  type: string
                  nullable: true
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /sites/{site-id}/contentTypes/{contentType-id}/isPublished():
    get:
      tags:
      - sites.contentType
      summary: Invoke function isPublished
      description: Check the publishing status of a contentType in a content type
        hub site.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/contenttype-ispublished?view=graph-rest-1.0
      operationId: sites.site.contentTypes.contentType.isPublished
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: boolean
                    default: false
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  /sites/{site-id}/contentTypes/{contentType-id}/publish:
    post:
      tags:
      - sites.contentType
      summary: Invoke action publish
      description: Publishes a contentType present in the content type hub site.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/contenttype-publish?view=graph-rest-1.0
      operationId: sites.site.contentTypes.contentType.publish
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /sites/{site-id}/contentTypes/{contentType-id}/unpublish:
    post:
      tags:
      - sites.contentType
      summary: Invoke action unpublish
      description: Unpublish a contentType from a content type hub site.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/contenttype-unpublish?view=graph-rest-1.0
      operationId: sites.site.contentTypes.contentType.unpublish
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /sites/{site-id}/contentTypes/$count:
    get:
      tags:
      - sites.contentType
      summary: Get the number of the resource
      operationId: sites.contentTypes.GetCount-50aa
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /sites/{site-id}/contentTypes/addCopy:
    post:
      tags:
      - sites.contentType
      summary: Invoke action addCopy
      description: Add a copy of a content type from a site to a list.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/contenttype-addcopy?view=graph-rest-1.0
      operationId: sites.site.contentTypes.addCopy
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                contentType:
                  type: string
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/microsoft.graph.contentType'
                - type: object
                  nullable: true
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /sites/{site-id}/contentTypes/addCopyFromContentTypeHub:
    post:
      tags:
      - sites.contentType
      summary: Invoke action addCopyFromContentTypeHub
      description: "Add or sync a copy of a published content type from the content\
        \ type hub to a target site or a list. This method is part of the content\
        \ type publishing changes to optimize the syncing of published content types\
        \ to sites and lists, effectively switching from a 'push everywhere' to 'pull\
        \ as needed' approach. The method allows users to pull content types directly\
        \ from the content type hub to a site or list. For more information, see contentType:\
        \ getCompatibleHubContentTypes and the blog post Syntex Product Updates \u2013\
        \ August 2021."
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/contenttype-addcopyfromcontenttypehub?view=graph-rest-1.0
      operationId: sites.site.contentTypes.addCopyFromContentTypeHub
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                contentTypeId:
                  type: string
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/microsoft.graph.contentType'
                - type: object
                  nullable: true
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /sites/{site-id}/contentTypes/getCompatibleHubContentTypes():
    get:
      tags:
      - sites.contentType
      summary: Invoke function getCompatibleHubContentTypes
      description: "Get a list of compatible content types from the content type hub\
        \ that can be added to a target site or a list. This method is part of the\
        \ content type publishing changes to optimize the syncing of published content\
        \ types to sites and lists, effectively switching from a 'push everywhere'\
        \ to 'pull as needed' approach. The method allows users to pull content types\
        \ directly from the content type hub to a site or list. For more information,\
        \ see contentType: addCopyFromContentTypeHub and the blog post Syntex Product\
        \ Updates \u2013 August 2021."
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/contenttype-getcompatiblehubcontenttypes?view=graph-rest-1.0
      operationId: sites.site.contentTypes.getCompatibleHubContentTypes
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                title: Collection of contentType
                type: object
                allOf:
                - $ref: '#/components/schemas/BaseCollectionPaginationCountResponse'
                - type: object
                  properties:
                    value:
                      type: array
                      items:
                        $ref: '#/components/schemas/microsoft.graph.contentType'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  /sites/{site-id}/createdByUser:
    get:
      tags:
      - sites.user
      summary: Get createdByUser from sites
      description: Identity of the user who created the item. Read-only.
      operationId: sites.GetCreatedByUser
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.user'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /sites/{site-id}/createdByUser/mailboxSettings:
    get:
      tags:
      - sites.user
      summary: Get mailboxSettings property value
      description: Settings for the primary mailbox of the signed-in user. You can
        get or update settings for sending automatic replies to incoming messages,
        locale, and time zone. Returned only on $select.
      operationId: sites.createdByUser.GetMailboxSettings
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Entity result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mailboxSettings'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
    patch:
      tags:
      - sites.user
      summary: Update property mailboxSettings value.
      operationId: sites.createdByUser.UpdateMailboxSettings
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.mailboxSettings'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mailboxSettings'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /sites/{site-id}/createdByUser/serviceProvisioningErrors:
    get:
      tags:
      - sites.user
      summary: Get serviceProvisioningErrors property value
      description: Errors published by a federated service describing a nontransient,
        service-specific error regarding the properties or link from a user object.  Supports
        $filter (eq, not, for isResolved and serviceInstance).
      operationId: sites.createdByUser.ListServiceProvisioningErrors
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.serviceProvisioningErrorCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  /sites/{site-id}/createdByUser/serviceProvisioningErrors/$count:
    get:
      tags:
      - sites.user
      summary: Get the number of the resource
      operationId: sites.createdByUser.ServiceProvisioningErrors.GetCount-c398
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /sites/{site-id}/drive:
    get:
      tags:
      - sites.drive
      summary: Get drive from sites
      description: The default drive (document library) for this site.
      operationId: sites.GetDrive
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.drive'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /sites/{site-id}/drives:
    get:
      tags:
      - sites.drive
      summary: Get drives from sites
      description: The collection of drives (document libraries) under this site.
      operationId: sites.ListDrives
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.driveCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  /sites/{site-id}/drives/{drive-id}:
    get:
      tags:
      - sites.drive
      summary: Get drives from sites
      description: The collection of drives (document libraries) under this site.
      operationId: sites.GetDrives
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.drive'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /sites/{site-id}/drives/$count:
    get:
      tags:
      - sites.drive
      summary: Get the number of the resource
      operationId: sites.drives.GetCount-5071
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /sites/{site-id}/externalColumns:
    get:
      tags:
      - sites.columnDefinition
      summary: Get externalColumns from sites
      operationId: sites.ListExternalColumns
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.columnDefinitionCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  /sites/{site-id}/externalColumns/{columnDefinition-id}:
    get:
      tags:
      - sites.columnDefinition
      summary: Get externalColumns from sites
      operationId: sites.GetExternalColumns
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.columnDefinition'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /sites/{site-id}/externalColumns/$count:
    get:
      tags:
      - sites.columnDefinition
      summary: Get the number of the resource
      operationId: sites.externalColumns.GetCount-3855
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /sites/{site-id}/items:
    get:
      tags:
      - sites.baseItem
      summary: Get items from sites
      description: Used to address any item contained in this site. This collection
        can't be enumerated.
      operationId: sites.ListItems
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.baseItemCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  /sites/{site-id}/items/{baseItem-id}:
    get:
      tags:
      - sites.baseItem
      summary: Get items from sites
      description: Used to address any item contained in this site. This collection
        can't be enumerated.
      operationId: sites.GetItems
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.baseItem'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /sites/{site-id}/items/$count:
    get:
      tags:
      - sites.baseItem
      summary: Get the number of the resource
      operationId: sites.items.GetCount-1b67
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /sites/{site-id}/lastModifiedByUser:
    get:
      tags:
      - sites.user
      summary: Get lastModifiedByUser from sites
      description: Identity of the user who last modified the item. Read-only.
      operationId: sites.GetLastModifiedByUser
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.user'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /sites/{site-id}/lastModifiedByUser/mailboxSettings:
    get:
      tags:
      - sites.user
      summary: Get mailboxSettings property value
      description: Settings for the primary mailbox of the signed-in user. You can
        get or update settings for sending automatic replies to incoming messages,
        locale, and time zone. Returned only on $select.
      operationId: sites.lastModifiedByUser.GetMailboxSettings
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Entity result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mailboxSettings'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
    patch:
      tags:
      - sites.user
      summary: Update property mailboxSettings value.
      operationId: sites.lastModifiedByUser.UpdateMailboxSettings
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.mailboxSettings'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mailboxSettings'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /sites/{site-id}/lastModifiedByUser/serviceProvisioningErrors:
    get:
      tags:
      - sites.user
      summary: Get serviceProvisioningErrors property value
      description: Errors published by a federated service describing a nontransient,
        service-specific error regarding the properties or link from a user object.  Supports
        $filter (eq, not, for isResolved and serviceInstance).
      operationId: sites.lastModifiedByUser.ListServiceProvisioningErrors
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.serviceProvisioningErrorCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  /sites/{site-id}/lastModifiedByUser/serviceProvisioningErrors/$count:
    get:
      tags:
      - sites.user
      summary: Get the number of the resource
      operationId: sites.lastModifiedByUser.ServiceProvisioningErrors.GetCount-4573
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /sites/{site-id}/lists:
    get:
      tags:
      - sites.list
      summary: Get lists in a site
      description: "Get the collection of lists for a site. Lists with the system\
        \ facet are hidden by default.\r\nTo list them, include system in your $select\
        \ statement."
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/list-list?view=graph-rest-1.0
      operationId: sites.ListLists
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.listCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - sites.list
      summary: Create a new list
      description: Create a new list in a site.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/list-create?view=graph-rest-1.0
      operationId: sites.CreateLists
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.list'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.list'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /sites/{site-id}/lists/{list-id}:
    get:
      tags:
      - sites.list
      summary: Get metadata for a list
      description: Returns the metadata for a list.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/list-get?view=graph-rest-1.0
      operationId: sites.GetLists
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.list'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - sites.list
      summary: Update the navigation property lists in sites
      operationId: sites.UpdateLists
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.list'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.list'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - sites.list
      summary: Delete navigation property lists for sites
      operationId: sites.DeleteLists
      parameters:
      - name: If-Match
        in: header
        description: ETag
        schema:
          type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /sites/{site-id}/lists/{list-id}/columns:
    get:
      tags:
      - sites.list
      summary: List columnDefinitions in a list
      description: Get the collection of columns represented as columnDefinition resources
        in a list.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/list-list-columns?view=graph-rest-1.0
      operationId: sites.lists.ListColumns
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.columnDefinitionCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - sites.list
      summary: Create a columnDefinition in a list
      description: Create a column for a list with a request that specifies a columnDefinition.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/list-post-columns?view=graph-rest-1.0
      operationId: sites.lists.CreateColumns
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.columnDefinition'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.columnDefinition'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /sites/{site-id}/lists/{list-id}/columns/{columnDefinition-id}:
    get:
      tags:
      - sites.list
      summary: Get columns from sites
      description: The collection of field definitions for this list.
      operationId: sites.lists.GetColumns
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.columnDefinition'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - sites.list
      summary: Update the navigation property columns in sites
      operationId: sites.lists.UpdateColumns
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.columnDefinition'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.columnDefinition'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - sites.list
      summary: Delete navigation property columns for sites
      operationId: sites.lists.DeleteColumns
      parameters:
      - name: If-Match
        in: header
        description: ETag
        schema:
          type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /sites/{site-id}/lists/{list-id}/columns/{columnDefinition-id}/sourceColumn:
    get:
      tags:
      - sites.list
      summary: Get sourceColumn from sites
      description: The source column for the content type column.
      operationId: sites.lists.columns.GetSourceColumn
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
[...]
