{
  "openapi": "3.1.0",
  "info": {
    "title": "VirusTotal API v3",
    "version": "3.0"
  },
  "servers": [
    {
      "url": "https://www.virustotal.com/api/v3"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Apikey"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/files/{id}": {
      "get": {
        "summary": "Get a file report",
        "description": "Retrieve information about a file",
        "operationId": "file-info",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "SHA-256, SHA-1 or MD5 identifying the file",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "x-apikey",
            "in": "header",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": ""
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl --request GET \\\n  --url https://www.virustotal.com/api/v3/files/{id} \\\n  --header 'x-apikey: <your API key>'",
              "name": "cURL"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/files/upload_url": {
      "get": {
        "summary": "Get a URL for uploading large files",
        "description": "Get a URL for uploading files larger than 32MB",
        "operationId": "files-upload-url",
        "parameters": [
          {
            "name": "x-apikey",
            "in": "header",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl --request GET \\\n  --url https://www.virustotal.com/api/v3/files/upload_url \\\n  --header 'x-apikey: <your API key>'",
              "name": "cURL"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/monitor/items/{id}": {
      "delete": {
        "summary": "Delete a VirusTotal Monitor file or folder",
        "description": "",
        "operationId": "monitor-items-delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Monitor item identifier",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "x-apikey",
            "in": "header",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl --request DELETE \\\n  --url https://www.virustotal.com/api/v3/monitor/items/{id} \\\n  --header 'x-apikey: <your API key>'"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      },
      "get": {
        "summary": "Get attributes and metadata for a specific MonitorItem",
        "description": "",
        "operationId": "monitor-items-stat",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Monitor item identifier",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "x-apikey",
            "in": "header",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl --request GET \\\n  --url https://www.virustotal.com/api/v3/monitor/items/{id} \\\n  --header 'x-apikey: <your API key>'"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/monitor/items/{id}/analyses": {
      "get": {
        "summary": "Get the latest file analyses",
        "description": "",
        "operationId": "monitor-items-analyses",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "description": "Continue listing after this offset",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of analyses to retrieve",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Monitor item identifier",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "x-apikey",
            "in": "header",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl --request GET \\\n  --url https://www.virustotal.com/api/v3/monitor/items/{id}/analyses \\\n  --header 'x-apikey: <your API key>'"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/monitor/items": {
      "post": {
        "summary": "Upload a file or create a new folder",
        "description": "",
        "operationId": "monitor-items-create",
        "parameters": [
          {
            "name": "x-apikey",
            "in": "header",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "file"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "Encoded file",
                    "format": "binary"
                  },
                  "path": {
                    "type": "string",
                    "description": "A path relative to current monitor user root folder. In must include the filename at the end of the path or a / if it's a folder being created"
                  },
                  "item": {
                    "type": "string",
                    "description": "A Monitor ID describing group and path"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl --request POST \\\n  --url https://www.virustotal.com/api/v3/monitor/items \\\n  --header 'x-apikey: <your API key>' \\\n  --form path='/' \\\n  --form file=@/path/to/file"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      },
      "get": {
        "summary": "Get a list of MonitorItem objects by path or tag",
        "description": "",
        "operationId": "monitor-items-filter",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "Return the items matching the given criteria only",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Continue listing after this offset",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of items to retrieve",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "x-apikey",
            "in": "header",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl --request GET \\\n  --url https://www.virustotal.com/api/v3/monitor/items \\\n  --header 'x-apikey: <your API key>'"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/monitor/items/upload_url": {
      "get": {
        "summary": "Get a URL for uploading files larger than 32MB",
        "description": "",
        "operationId": "monitor-items-upload-url",
        "parameters": [
          {
            "name": "x-apikey",
            "in": "header",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl --request GET \\\n  --url https://www.virustotal.com/api/v3/monitor/items/upload_url \\\n  --header 'x-apikey: <your API key>'"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/monitor/items/{id}/config": {
      "patch": {
        "summary": "Configure a given VirusTotal Monitor item (file or folder)",
        "description": "",
        "operationId": "monitor-items-config",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Monitor item identifier",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "x-apikey",
            "in": "header",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "string",
                    "description": "MonitorItem obj",
                    "default": "{\"id\": \"[MONITOR-ID]\", \"type\": \"monitoritem\", \"attributes\": {\"details\": \"This is file metadata.\"}}",
                    "format": "json"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl --request PATCH \\\n  --url https://www.virustotal.com/api/v3/monitor/items/{id}/config \\\n  --data=\"{'data': {\\\n        'id': <item-id>,\\\n        'type': 'monitoritem',\\\n        'attributes': {\\\n            'details': 'This is file metadata.'\\\n       }}}\""
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/analyses/{id}": {
      "get": {
        "summary": "Get a URL / file analysis",
        "description": "",
        "operationId": "analysis",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Analysis identifier",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "x-apikey",
            "in": "header",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl --request GET \\\n  --url https://www.virustotal.com/api/v3/analyses/{id} \\\n  --header 'x-apikey: <your API key>'"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/urls/{id}": {
      "get": {
        "summary": "Get a URL analysis report",
        "description": "",
        "operationId": "url-info",
        "parameters": [
          {
            "name": "x-apikey",
            "in": "header",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "URL identifier or base64 representation of URL to scan (w/o padding)",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl --request GET \\\n  --url https://www.virustotal.com/api/v3/urls/{id} \\\n  --header 'x-apikey: <your API key>'",
              "name": "cURL"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/monitor/items/{id}/download": {
      "get": {
        "summary": "Download a file in VirusTotal Monitor",
        "description": "",
        "operationId": "monitor-items-download",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Monitor item identifier",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "x-apikey",
            "in": "header",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl --request GET \\\n  --url https://www.virustotal.com/api/v3/monitor/items/{id}/download \\\n  --header 'x-apikey: <your API key>' --location"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/monitor/statistics": {
      "get": {
        "summary": "Retrieve statistics about analyses performed on your software collection",
        "description": "",
        "operationId": "monitor-statistics",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "description": "List after this date",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of statistic periods to return",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-apikey",
            "in": "header",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl --request GET \\\n  --url https://www.virustotal.com/api/v3/monitor/statistics \\\n  --header 'x-apikey: <your API key>'"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/graphs/{id}": {
      "get": {
        "summary": "Get a graph object",
        "description": "",
        "operationId": "graphs-info",
        "parameters": [
          {
            "name": "x-apikey",
            "in": "header",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "A 65 char length id which uniquely identify the graph.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl --request GET \\\n  --url https://www.virustotal.com/api/v3/graphs/{id} \\\n  --header 'x-apikey: <your API key>'"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      },
      "patch": {
        "summary": "Update a graph object",
        "description": "",
        "operationId": "graphs-update",
        "parameters": [
          {
            "name": "x-apikey",
            "in": "header",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "A 65 char length id which uniquely identify the graph.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "nodes": {
                    "type": "array",
                    "description": "Array of nodes.",
                    "items": {
                      "properties": {
                        "entity_id": {
                          "type": "string",
                          "description": "Node entity id."
                        },
                        "type": {
                          "type": "string",
                          "description": "Node entity type."
                        },
                        "x": {
                          "type": "number",
                          "description": "X position of the node.",
                          "format": "float"
                        },
                        "y": {
                          "type": "number",
                          "description": "Y position of the node.",
                          "format": "float"
                        },
                        "index": {
                          "type": "integer",
                          "description": "Index of the node list.",
                          "format": "int32"
                        },
                        "fx": {
                          "type": "number",
                          "description": "(optional) Force x position.",
                          "format": "float"
                        },
                        "fy": {
                          "type": "number",
                          "description": "(optional) Force y position.",
                          "format": "float"
                        },
                        "text": {
                          "type": "string",
                          "description": "(optional) Node label."
                        },
                        "entity_attributes": {
                          "type": "object",
                          "description": "(optional) Entity related attributes."
                        }
                      },
                      "type": "object"
                    }
                  },
                  "links": {
                    "type": "array",
                    "description": "Array of links.",
                    "items": {
                      "properties": {
                        "source": {
                          "type": "string",
                          "description": "Entity id of the link source."
                        },
                        "target": {
                          "type": "string",
                          "description": "Entity id of the link target."
                        },
                        "connection_type": {
                          "type": "string",
                          "description": "Type of the connection between the source and the target."
                        }
                      },
                      "type": "object"
                    }
                  },
                  "graph_data": {
                    "type": "object",
                    "description": "Highlevel graph data.",
                    "properties": {
                      "version": {
                        "type": "string",
                        "description": "Current version of the graph."
                      }
                    }
                  },
                  "private": {
                    "type": "boolean",
                    "description": "Private status."
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl --request PATCH \\\n  --url https://www.virustotal.com/api/v3/graphs/{id} \\\n  --header 'x-apikey: <your API key>' \\\n  -d '{\"data\":{\"attributes\": {\"private\": true},\"type\":\"graph\"}}'"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      },
      "delete": {
        "summary": "Delete a graph",
        "description": "",
        "operationId": "graphs-delete",
        "parameters": [
          {
            "name": "x-apikey",
            "in": "header",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "A 65 char length id which uniquely identify the graph.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": ""
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl --request DELETE \\\n  --url https://www.virustotal.com/api/v3/graphs/{id} \\\n  --header 'x-apikey: <your API key>'"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/graphs": {
      "post": {
        "summary": "Create a graph",
        "description": "",
        "operationId": "create-graphs",
        "parameters": [
          {
            "name": "X-Apikey",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "RAW_BODY": {
                    "type": "string",
                    "format": "json"
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl --request POST \\\n  --url https://www.virustotal.com/api/v3/graphs \\\n  --header 'X-Apikey: <your API key>'\n  --data-raw '<graph_body>'"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      },
      "get": {
        "summary": "Search graphs",
        "description": "",
        "operationId": "graphs",
        "parameters": [
          {
            "name": "x-apikey",
            "in": "header",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Return the graphs matching the given criteria only",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number graphs to retrieve",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Continuation cursor",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Sort order",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "attributes",
            "in": "query",
            "description": "Specific fields to retrieve",
            "schema": {
              "type": "string"
            }
          }
        ],
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl --request POST \\\n  --url https://www.virustotal.com/api/v3/graphs \\\n  --header 'x-apikey: <your API key>'"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/monitor/items/{id}/download_url": {
      "get": {
        "summary": "Get a URL for downloading a file in VirusTotal Monitor",
        "description": "",
        "operationId": "monitor-items-download-url",
        "parameters": [
          {
            "name": "x-apikey",
            "in": "header",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Monitor item identifier",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl --request GET \\\n  --url https://www.virustotal.com/api/v3/monitor/items/{id}/download_url \\\n  --header 'x-apikey: <your API key>'"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/monitor/items/{id}/owner": {
      "get": {
        "summary": "Get user owning the MonitorItem object",
        "description": "",
        "operationId": "monitor-items-owner",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Monitor item identifier",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "x-apikey",
            "in": "header",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl --request GET \\\n  --url https://www.virustotal.com/api/v3/monitor/items/{id}/owner \\\n  --header 'x-apikey: <your API key>'"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/monitor_partner/hashes/{sha256}/analyses": {
      "get": {
        "summary": "Get a list of analyses for a file",
        "description": "",
        "operationId": "monitorpartner-hashes-analyses",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "description": "Continue listing after this offset",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of items to retrieve (max: 40)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sha256",
            "in": "path",
            "description": "File's SHA256",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "x-apikey",
            "in": "header",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl --request GET \\\n  --url https://www.virustotal.com/api/v3/monitor_partner/hashes/{sha256}/analyses \\\n  --header 'x-apikey: <your API key>'"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/monitor_partner/files/{sha256}/download_url": {
      "get": {
        "summary": "Retrieve a download url for a file with a given sha256 hash",
        "description": "",
        "operationId": "monitorpartner-files-download-url",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "description": "Continue listing after this offset",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of items to retrieve (max: 40)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "sha256",
            "in": "path",
            "description": "Hash sha256",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "x-apikey",
            "in": "header",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl --request GET \\\n  --url https://www.virustotal.com/api/v3/monitor_partner/files/{sha256}/download_url \\\n  --header 'x-apikey: <your API key>'"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/monitor_partner/statistics": {
      "get": {
        "summary": "Get a list of MonitorHashes detected by an engine",
        "description": "",
        "operationId": "monitorpartner-statistics",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "description": "List after this date",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of statistic periods to return",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Filter parameters",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-apikey",
            "in": "header",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl --request GET \\\n  --url \"https://www.virustotal.com/api/v3/monitor_partner/statistics\" \\\n  --header 'x-apikey: <your API key>'"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/monitor_partner/hashes/{sha256}/items": {
      "get": {
        "summary": "Get a list of items with a given sha256 hash",
        "description": "",
        "operationId": "monitorpartner-hashes-items",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "description": "Continue listing after this offset",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of items to retrieve (max: 40)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sha256",
            "in": "path",
            "description": "Hash sha256",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "x-apikey",
            "in": "header",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl --request GET \\\n  --url https://www.virustotal.com/api/v3/monitor_partner/hashes/{sha256}/items \\\n  --header 'x-apikey: <your API key>'"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/monitor_partner/detections_bundle/{engine_name}/download_url": {
      "get": {
        "summary": "Get a daily detection bundle download URL",
        "description": "",
        "operationId": "monitorpartner-detectionsbundle-download-url",
        "parameters": [
          {
            "name": "engine_name",
            "in": "path",
            "description": "Name of your engine",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "x-apikey",
            "in": "header",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl --request GET \\\n  --url https://www.virustotal.com/api/v3/monitor_partner/detections_bundle/<your_engine_name>/download_url \\\n  --header 'x-apikey: <your API key>'"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/monitor_partner/detections_bundle/{engine_name}/download": {
      "get": {
        "summary": "Download a daily detection bundle directly",
        "description": "",
        "operationId": "monitorpartner-detectionsbundle-download",
        "parameters": [
          {
            "name": "engine_name",
            "in": "path",
            "description": "Name of your engine",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "x-apikey",
            "in": "header",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl -L -o bundle.csv --request GET \\\n  --url https://www.virustotal.com/api/v3/monitor_partner/detections_bundle/{engine_name}/download \\\n  --header 'x-apikey: <your API key>'"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/monitor_partner/hashes": {
      "get": {
        "summary": "Get a list of MonitorHashes detected by an engine",
        "description": "",
        "operationId": "monitorpartner-hashes",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "Retrieve hashes matching this condition, refer to the right block of the documentation",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Continue listing after this offset",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of items to retrieve (max: 40)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "x-apikey",
            "in": "header",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl --request GET \\\n  --url https://www.virustotal.com/api/v3/monitor_partner/hashes \\\n  --header 'x-apikey: <your API key>'"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/monitor_partner/files/{sha256}/download": {
      "get": {
        "summary": "Download a file with a given sha256 hash",
        "description": "",
        "operationId": "monitorpartner-files-download",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "description": "Continue listing after this offset",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of items to retrieve (max: 40)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "sha256",
            "in": "path",
            "description": "Hash sha256",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "x-apikey",
            "in": "header",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl --method GET \\\n  --url https://www.virustotal.com/api/v3/monitor_partner/files/{sha256}/download \\\n  --header 'x-apikey: <your API key>' --location"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/monitor/items/{id}/comments": {
      "get": {
        "summary": "Retrieve partner's comments on a file",
        "description": "",
        "operationId": "monitor-item-comments",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "description": "Continue listing after this offset",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of analyses to retrieve",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Monitor item identifier",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "x-apikey",
            "in": "header",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl --request GET \\\n  --url https://www.virustotal.com/api/v3/monitor/items/{id}/comments \\\n  --header 'x-apikey: <your API key>'"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/monitor_partner/comments/{id}": {
      "patch": {
        "summary": "Add a comment on a sha256 hash",
        "description": "Create a comment and if necessary confirm detection over a hash",
        "operationId": "monitorpartner-comments-patch",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Comment identifier",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "x-apikey",
            "in": "header",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "string",
                    "description": "A json object with a MonitorHashComment",
                    "default": "{\"data\": [{\"attributes\": {\"comment\": \"[TEXT]\", \"detection\": \"confirmed\", \"engine\": \"[ENGINE-ID]\", \"sha256\": \"[HASH-SHA256]\"}, \"type\": \"monitor_hash_comment\"}]}",
                    "format": "json"
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl --request PATCH \\\n  --url https://www.virustotal.com/api/v3/monitor_partner/comments/{id} \\\n  --header 'x-apikey: <your API key>' \\\n  --data-binary \"{'data': [{'attributes': {\\\n                      'comment': '[TEXT]',\\\n                      'detection': 'confirmed',\\\n                      'engine': '[ENGINE-ID]',\\\n                      'sha256': '[HASH-SHA256]'},\\\n                    'type': 'monitor_hash_comment'}]}\""
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      },
      "delete": {
        "summary": "Remove a comment detection for a hash.",
        "description": "Remove a comment and reset confirmed detection for a hash.",
        "operationId": "monitorpartner-comments-delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Comment identifier",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "x-apikey",
            "in": "header",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl --request DELETE \\\n  --url https://www.virustotal.com/api/v3/monitor_partner/comments/{id} \\\n  --header 'x-apikey: <your API key>'"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      },
      "get": {
        "summary": "Get comments on a sha256 hash",
        "description": "",
        "operationId": "get-sha256-hash-comments",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Comment ID",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "x-apikey",
            "in": "header",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl --method GET \\\n  --url https://www.virustotal.com/api/v3/monitor_partner/comments/{id}/ \\\n  --header 'x-apikey: <your API key>'"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/monitor_partner/hashes/{sha256}/comments": {
      "post": {
        "summary": "Create a comment over a hash",
        "description": "Create a comment and if necessary confirm detection over a hash",
        "operationId": "monitorpartner-hashes-comments",
        "parameters": [
          {
            "name": "sha256",
            "in": "path",
            "description": "Hash sha256",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "x-apikey",
            "in": "header",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "string",
                    "description": "A json object with a MonitorHashComment",
                    "default": "{\"data\": [{\"attributes\": {\"comment\": \"[TEXT]\", \"detection\": \"confirmed\", \"engine\": \"[ENGINE-ID]\", \"sha256\": \"[HASH-SHA256]\"}, \"type\": \"monitor_hash_comment\"}]}",
                    "format": "json"
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl --request POST \\\n  --url https://www.virustotal.com/api/v3/monitor_partner/hashes/{sha256}/comments \\\n  --header 'x-apikey: <your API key>' \\\n  --data-binary \"{'data': [{'attributes': {\\\n                      'comment': '[TEXT]',\\\n                      'detection': 'confirmed',\\\n                      'engine': '[ENGINE-ID]',\\\n                      'sha256': '[HASH-SHA256]'},\\\n                    'type': 'monitor_hash_comment'}]}\""
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/files/{id}/analyse": {
      "post": {
        "summary": "Request a file rescan (re-analyze)",
        "description": "Reanalyse a file already in VirusTotal",
        "operationId": "files-analyse",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "SHA-256, SHA-1 or MD5 identifying the file",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "x-apikey",
            "in": "header",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl --request POST \\\n  --url https://www.virustotal.com/api/v3/files/{id}/analyse \\\n  --header 'x-apikey: <your API key>'",
              "name": "cURL"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/files/{id}/download_url": {
      "get": {
        "summary": "Get a file’s download URL",
        "description": "",
        "operationId": "files-download-url",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "SHA-256, SHA-1 or MD5 identifying the file",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "x-apikey",
            "in": "header",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl --request GET \\\n  --url https://www.virustotal.com/api/v3/files/{id}/download_url \\\n  --header 'x-apikey: <your API key>'",
              "name": "cURL"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/files/{id}/download": {
      "get": {
        "summary": "Download a file",
        "description": "",
        "operationId": "files-download",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "SHA-256, SHA-1 or MD5 identifying the file",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "x-apikey",
            "in": "header",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl --request GET -L --output file_name\\\n  --url https://www.virustotal.com/api/v3/files/{id}/download \\\n  --header 'x-apikey: <your API key>'",
              "name": "cURL"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/urls/{id}/analyse": {
      "post": {
        "summary": "Request a URL rescan (re-analyze)",
        "description": "",
        "operationId": "urls-analyse",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "URL identifier",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "x-apikey",
            "in": "header",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl --request POST \\\n  --url https://www.virustotal.com/api/v3/urls/{id}/analyse \\\n  --header 'x-apikey: <your API key>'",
              "name": "cURL"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/ip_addresses/{ip}": {
      "get": {
        "summary": "Get an IP address report",
        "description": "",
        "operationId": "ip-info",
        "parameters": [
          {
            "name": "ip",
            "in": "path",
            "description": "IP address",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "x-apikey",
            "in": "header",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl --request GET \\\n  --url https://www.virustotal.com/api/v3/ip_addresses/{ip} \\\n  --header 'x-apikey: <your API key>'",
              "name": "cURL"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/domains/{domain}": {
      "get": {
        "summary": "Get a domain report",
        "description": "",
        "operationId": "domain-info",
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "description": "Domain name",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "x-apikey",
            "in": "header",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": ""
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl --request GET \\\n  --url https://www.virustotal.com/api/v3/domains/{domain} \\\n  --header 'x-apikey: <your API key>'",
              "name": "cURL"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/files/{id}/comments": {
      "post": {
        "summary": "Add a comment to a file",
        "description": "",
        "operationId": "files-comments-post",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "SHA-256, SHA-1 or MD5 identifying the file",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "x-apikey",
            "in": "header",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "string",
                    "description": "A comment object",
                    "default": "{\"type\": \"comment\", \"attributes\": {\"text\": \"Lorem ipsum dolor sit ...\"}}",
                    "format": "json"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl --request POST \\\n  --url https://www.virustotal.com/api/v3/files/{id}/comments \\\n  --header 'x-apikey: <your API key>' \\\n  --data '{\"data\": {\"type\": \"comment\", \"attributes\": {\"text\": \"Lorem ipsum dolor sit ...\"}}}'",
              "name": "cURL"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      },
      "get": {
        "summary": "Get comments on a file",
        "description": "",
        "operationId": "files-comments-get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "SHA-256, SHA-1 or MD5 identifying the file",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of comments to retrieve",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Continuation cursor",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-apikey",
            "in": "header",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl --request GET \\\n  --url https://www.virustotal.com/api/v3/files/{id}/comments \\\n  --header 'x-apikey: <your API key>'",
              "name": "cURL"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/files/{id}/{relationship}": {
      "get": {
        "summary": "Get objects related to a file",
        "description": "",
        "operationId": "files-relationships",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "SHA-256, SHA-1 or MD5 identifying the file",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "relationship",
            "in": "path",
            "description": "Relationship name (see [table](ref:files#relationships))",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "x-apikey",
            "in": "header",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of related objects to retrieve",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Continuation cursor",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl --request GET \\\n  --url https://www.virustotal.com/api/v3/files/{id}/{relationship} \\\n  --header 'x-apikey: <your API key>'"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/files/{id}/votes": {
      "get": {
        "summary": "Get votes on a file",
        "description": "",
        "operationId": "files-votes-get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "SHA-256, SHA-1 or MD5 identifying the file",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "x-apikey",
            "in": "header",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of votes to retrieve",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Continuation cursor",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl --request GET \\\n  --url https://www.virustotal.com/api/v3/files/{id}/votes \\\n  --header 'x-apikey: <your API key>'"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      },
      "post": {
        "summary": "Add a vote on a file",
        "description": "",
        "operationId": "files-votes-post",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "SHA-256, SHA-1 or MD5 identifying the file",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "x-apikey",
            "in": "header",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "string",
                    "description": "A vote object",
                    "default": "{\"type\": \"vote\", \"attributes\": {\"verdict\": \"malicious\"}}",
                    "format": "json"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "409": {
            "description": "409",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"error\": {\n    \"code\": \"AlreadyExistsError\",\n    \"message\": \"User \\\"username\\\" already voted \\\"malicious\\\" for this file\"\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "AlreadyExistsError"
                        },
                        "message": {
                          "type": "string",
                          "example": "User \"username\" already voted \"malicious\" for this file"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl --request POST \\\n  --url https://www.virustotal.com/api/v3/files/{id}/votes \\\n  --header 'x-apikey: <your API key>' \\\n  --data '{\"data\": {\"type\": \"vote\", \"attributes\": {\"verdict\": \"malicious\"}}}'"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/urls/{id}/{relationship}": {
      "get": {
        "summary": "Get objects related to a URL",
        "description": "",
        "operationId": "urls-relationships",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "URL identifier",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "relationship",
            "in": "path",
            "description": "Relationship name (see [table](ref:url-object#relationships))",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "x-apikey",
            "in": "header",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of related objects to retrieve",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Continuation cursor",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl --request GET \\\n  --url https://www.virustotal.com/api/v3/urls/{id}/analyses \\\n  --header 'x-apikey: <your API key>'",
              "name": "analyses"
            },
            {
              "language": "curl",
              "code": "curl --request GET \\\n  --url https://www.virustotal.com/api/v3/urls/{id}/downloaded_files \\\n  --header 'x-apikey: <your API key>'",
              "name": "downloaded_files"
            },
            {
              "language": "curl",
              "code": "curl --request GET \\\n  --url https://www.virustotal.com/api/v3/urls/{id}/graphs \\\n  --header 'x-apikey: <your API key>'",
              "name": "graphs"
            },
            {
              "language": "curl",
              "code": "curl --request GET \\\n  --url https://www.virustotal.com/api/v3/urls/{id}/last_serving_ip_address \\\n  --header 'x-apikey: <your API key>'",
              "name": "last_serving_ip_address"
            },
            {
              "language": "curl",
              "code": "curl --request GET \\\n  --url https://www.virustotal.com/api/v3/urls/{id}/redirecting_urls \\\n  --header 'x-apikey: <your API key>'",
              "name": "redirecting_urls"
            },
            {
              "language": "curl",
              "code": "curl --request GET \\\n  --url https://www.virustotal.com/api/v3/urls/{id}/submissions \\\n  --header 'x-apikey: <your API key>'",
              "name": "submissions"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/urls/{id}/comments": {
      "get": {
        "summary": "Get comments on a URL",
        "description": "",
        "operationId": "urls-comments-get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "URL identifier",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of comments to retrieve",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Continuation cursor",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-apikey",
            "in": "header",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl --request GET \\\n  --url https://www.virustotal.com/api/v3/urls/{id}/comments \\\n  --header 'x-apikey: <your API key>'"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      },
      "post": {
        "summary": "Add a comment on a URL",
        "description": "",
        "operationId": "urls-comments-post",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "URL identifier",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "x-apikey",
            "in": "header",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "string",
                    "description": "A comment object",
                    "default": "{\"type\": \"comment\", \"attributes\": {\"text\": \"Lorem ipsum dolor sit ...\"}}",
                    "format": "json"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl --request POST \\\n  --url https://www.virustotal.com/api/v3/urls/{id}/comments \\\n  --header 'x-apikey: <your API key>' \\\n  --data '{\"data\": {\"type\": \"comment\", \"attributes\": {\"text\": \"\"Lorem ipsum dolor sit ...\"}}}'"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/urls/{id}/votes": {
      "post": {
        "summary": "Add a vote on a URL",
        "description": "",
        "operationId": "urls-votes-post",
        "parameters": [
          {
            "name": "x-apikey",
            "in": "header",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "URL identifier",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "string",
                    "description": "Vote object",
                    "default": "{\"type\": \"vote\", \"attributes\": {\"verdict\": \"malicious\"}}",
                    "format": "json"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "409": {
            "description": "409",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"error\": {\n    \"code\": \"AlreadyExistsError\",\n    \"message\": \"User \\\"username\\\" already voted \\\"malicious\\\" for this url\"\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "AlreadyExistsError"
                        },
                        "message": {
                          "type": "string",
                          "example": "User \"username\" already voted \"malicious\" for this url"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl --request POST \\\n  --url https://www.virustotal.com/api/v3/urls/{id}/votes \\\n  --header 'x-apikey: <your API key>' \\\n  --data '{\"data\": {\"type\": \"vote\", \"attributes\": {\"verdict\": \"malicious\"}}}'"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      },
      "get": {
        "summary": "Get votes on a URL",
        "description": "",
        "operationId": "urls-votes-get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "URL identifier",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "x-apikey",
            "in": "header",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of votes to retrieve",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Continuation cursor",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl --request GET \\\n  --url https://www.virustotal.com/api/v3/urls/{id}/votes \\\n  --header 'x-apikey: <your API key>'"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/domains/{domain}/{relationship}": {
      "get": {
        "summary": "Get objects related to a domain",
        "description": "",
        "operationId": "domains-relationships",
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "description": "Domain name",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "relationship",
            "in": "path",
            "description": "Relationship name (see [table](ref:domains-1#relationships))",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "x-apikey",
            "in": "header",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of related objects to retrieve",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Continuation cursor",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
[...]
